/* latin-ext */
@font-face {
  
 font-family: 'Noto Sans Malayalam';
 src: url("../../../kp/Noto_Sans_Malayalam/static/NotoSansMalayalam_Condensed-ExtraBold.ttf") format('truetype');
  
}
body {
    /* font-family: "Barlow", sans-serif; */
    color: var(--body);
    line-height: 1.7;
    font-family: 'Noto Sans Malayalam', sans-serif;
    font-size: 0.9rem;

}

