body {
/*font-family: "Karla", sans-serif;*/
  background-color: #d0d0ce;
  min-height: 100vh; }

.brand-wrapper {
  margin-bottom: 19px; }
  .brand-wrapper .logo {
    height: 75px; }

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }
  .login-card-img {
    border-radius: 0;
    position: absolute;
    /*width: 70%;*/
    height: 55%;
    -o-object-fit: cover;
       object-fit: cover;
	       top: 15%;
    left: 7%;
	    }
  .login-card .card-body {
    padding:60px; }
    @media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px; } }
  .login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px; }
  .login-card form {
    max-width: 326px; }
  .login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 10px 25px;
    margin-bottom: 20px;
    min-height: 50px;
    font-size: 13px;
    font-weight: normal; }
    .login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::placeholder {
      color: #919aa3; }
  .login-card .login-btn {
    padding: 13px 20px 12px;
    background-color:#339933;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; }
    .login-card .login-btn:hover {
      border: 1px solid #339933;
      background-color: transparent;
      color: #339933; }
  .login-card .forgot-password-link {
    font-size: 14px;
    color: #339933;
    margin-bottom: 12px; }
  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; }
	.login-card-footer-text a {
	color: #339933 !important;
	}
    @media (max-width: 767px) {
      .login-card-footer-text {
        margin-bottom: 24px; } }
  .login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3; }

.footer-link {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%; }
  .title-head{
  text-align:center;
  margin: 40px;
  }
  .rad-span{
  font-size:17px;
  float:left;
  margin-right: 40px;
  }
.login-menu{

border-radius:15px;
padding:5px 20px;
float:right;
}
.log-class-menu a{
color:#FFFFFF;
text-decoration:none;
background-color:#339933;
margin-top: 40px;
}
.log-class-menu a:hover{
color:#FFFFFF;
text-decoration:none;
background-color:#5cb85c;
}
.rad-space{
margin-bottom:30px;
}
.mandatory{
color:#FF0000;
font-weight:bold;
}
.btn-block
{
  width:100% !important;
}
input[type=radio] 
{
    padding: 0;
    border-radius: 50%;
    height: 1.3em;
    width: 1.3em;
    float: left !important;
    margin-right: 6px;
    margin-top: 2px;
}
.col-md-4,.col-md-6,.col-md-8  {
  float: left !important;
  padding-right: 15px;
  padding-left: 15px;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  appearance: auto;
}
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  color: #192733;
  font-size: 12px;
  background-color: #dff5d8;
  border-radius: 10px;
  padding: 7px 15px 15px 15px;
}
.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #dff5d8;
  padding: 10px;
  z-index: 1;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -70px;
  left: 20%;
}

#top::before {
  top: 80%;
  left: 45%;
}

.frmlbl
{
	height:13%;
}
/*# sourceMappingURL=login.css.map */
