/*
  Theme Name: Selecao
  Theme URL: https://bootstrapmade.com/selecao-bootstrap-template/
  Author: BootstrapMade.com
  Author URL: https://bootstrapmade.com
*/

@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');


/* ==== additional style for bootstrap ==== */
.well.well-primary, .bg-primary, .box-primary {
	background: #009cea;
	color:#fff;
}
.well.well-success, .bg-success, .box-success {
	background: #7cbb00;
	color:#fff;
}
.well.well-warning, .bg-warning, .box-warning {
	background: #ffbb00;
	color:#fff;
}
.well.well-danger, .bg-danger, .box-danger  {
	background: #f65314;
	color:#fff;
}

iframe, embed, object {
	border:none;
}

.video-container,.embed-container 	{ position:relative; margin:0 0 15px 0;	padding-bottom:300px; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
.video-container iframe,
.embed-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.embed-container object,
.embed-container embed,
.video-container object,
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }

#google-map {
  height: 315px;
  margin-bottom: 20px;
}

blockquote {
  display: inline-block;
  padding-left: 18px;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 27px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 10px solid #000;
}

.container{
	padding: 0 20px 0 20px;
}

.row{
	margin-bottom:40px;
}

.row .row, .row-fluid .row{
	margin-bottom:0;
}

header{
	position:relative;
}

.navbar {
	padding:10px 0 0px;
}

.navbar .nav {
  margin: 30px 0 0 0;

}

.navbar .nav > li > a {
  float: none;
  color: #fff;
	line-height:1em;
  text-decoration: none;
  text-shadow:none;
   z-index:100;
	outline:0;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  text-decoration: none;
  color:#fff;
  background-color: transparent;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar .nav > .current {
  color:#fff;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

.navbar .nav > .current a:focus, .navbar .nav > .current a:hover  {
  color:#fff;
}

.navbar .nav li.dropdown > a:hover .caret {
  text-shadow: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  text-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  background-color: #cc3333;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-shadow:none;
  text-decoration: none;
}

ul.nav li ul.dropdown-menu {
	margin-top:20px;
}

.default {
	/*background:url(../img/nav-default-bg.png) repeat;*/
	background-color:#929ca5;
}

.fixed {
  position: fixed;
  background:#929ca5;
  top:0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 40px #222;
  -webkit-box-shadow: 0 0 40px #222;
  -moz-box-shadow: 0 0 40px #222;
}

nav select {
	display:none;
}

/* ==== general style ==== */
.fade{
    position: relative;
	opacity:1;
}
section {
	padding:120px 0 40px 0;
}

/* ==== general main content style ==== */
#maincontent.section {
	padding:30px 0 40px 0;
}

/* ==== headline ==== */

.headline {
	text-align:center;
	width:100%;
}

.headline h3{
	font-family: 'ostrich_sansblack';
	text-transform:uppercase;
	padding:0;
	margin:20px 0 30px 0;
	font-size:64px;
	text-align:center;
	text-shadow: 0 1px 0 #ffffff;
}

/* ==== divider ==== */
.solid_line {
  padding:0;
  margin:20px 0 20px 0;
  width:100%;
  height:1px;
  border-top: 1px solid #eeeeee;
}

.dotted_line {
  padding:0;
  margin:20px 0 20px 0;
  width:100%;
  height:1px;
  border-bottom: 1px dotted #eeeeee;
}


/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	overflow:hidden;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
  margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
  margin-bottom: 5px;
}
.bs-docs-example .pagination {
  margin-top: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  height: 90px;
  overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  margin-left: 0;
  margin-right: 0;
}
.bs-navbar-top-example {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: -1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.bs-navbar-bottom-example {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
form.bs-docs-example {
  padding-bottom: 19px;
}

/* Images */
.bs-docs-example-images img {
  margin: 10px;
  display: inline-block;
}

/* Tooltips */
.bs-docs-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}
.bs-docs-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}

/* Popovers */
.bs-docs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

/* scroll to top */
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../img/totop.png) no-repeat;
}

.scrollup:hover {
	opacity:1;
}


/* progress bar */

.bar.bar80 {
	width:80%;
}
.bar.bar70 {
	width:70%;
}
.bar.bar65 {
	width:65%;
}
.bar.bar60 {
	width:60%;
}
.bar.bar55 {
	width:55%;
}
.bar.bar50 {
	width:50%;
}
.bar.bar45 {
	width:45%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar35 {
	width:35%;
}
.bar.bar30 {
	width:30%;
}
.bar.bar25 {
	width:25%;
}
.bar.bar20 {
	width:20%;
}
.bar.bar15 {
	width:15%;
}
.bar.bar10 {
	width:10%;
}

/* ============ font awesome icons ===================== */

ul.the-icons {
	list-style:none;
	margin-left:0;
}

[class^="icon-"],
[class*=" icon-"] {
    float:none;

}

.icon-square,
.icon-rounded,
.icon-plain,
.icon-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 18px;
    height: 18px;
	padding:3px;
    font-size: 12px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
}

.icon-rounded  {
   
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.icon-circled {
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.icon-square {
    background-color: #444;
}
.icon-plain {
    width: 48px;
    height: 48px;
    font-size: 47px;
    line-height: 50px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

.icon-plain:hover { color: #777; }

/* circled radius */
.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-64.icon-circled {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
.icon-128.icon-circled {
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.icon-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}


.icon-rounded:hover,
.icon-circled:hover {
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

.demoicon [class^="icon-"],
.demoicon [class*=" icon-"],
[class^="icon-"].left,
[class*=" icon-"].left {
    float:left;
}
[class^="icon-"].active:hover,
[class*=" icon-"].active:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
[class^="icon-"],
[class*=" icon-"] {
  margin-top: 1px;
  margin-right: .3em;
}

/* custom size */
.icon-32 {
    width: 24px;
    height: 24px;
	padding:4px;
    font-size: 16px;
    line-height: 24px;
}
.icon-48 {
    width: 32px;
    height: 32px;
	padding:8px;
    font-size: 28px;
    line-height: 30px;
}
.icon-64 {
    width: 40px;
    height: 40px;
	padding:12px;
    font-size: 30px;
    line-height: 40px;
}
.icon-128 {
    width: 56px;
    height: 56px;
	padding:36px;
    font-size: 54px;
    line-height: 60px;
}


/* ================= featured ========================== */

section#featured {
	background: #000 url(../img/bg/bg-1.jpg) 50% 0 no-repeat;
	position:relative;
	width:100%;
	height:auto;
	margin:0;
	padding:140px 0 30px;
}

@media (min-width: 1024px) {
	section#featured {
		background-attachment: fixed;
	}
}

section#featured  {
	text-align:center;
}
section#featured h2  {
	color:#fff;
	font-size:64px;
}

section#featured .inner-heading h2 {
	margin-bottom:-20px;
}

section#featured h4.subtitle  {
	font-family: Arial, Tahoma, Verdana, Sans-serif;
	text-transform:none;
	color:#f8f8f8;
}

section#featured p  {
	color:#f8f8f8;
}


/* section intro */

.section-intro{
	text-align:center;
	margin-bottom:20px;
}

.section-intro p{
	font-size: 32px;
	font-family: 'ostrich_sans_roundedmedium';
	line-height:42px;
	color: #3a3a3a;
	font-weight:300;
}

/* boxed */


.boxed h3{
	margin-bottom:0;
}

.boxed h4{
	color:#a9a9a5;
	font-size: 20px;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom:10px;
}

.offer-box{
	width:20.95%;
	padding:2%;
	float:left;
	background:#000000;
	border-left:1px solid #fff;
	color:#cbcbcb;
}

.offer-box h3, .offer-box h4{
	color:#fff;
	border-bottom:1px solid #fff;
	padding-bottom:15px;
}

.offer-box-first{
	border-left:none;
}

.special-box{
	color:#fcfcfc;
	position:relative;
	border-left:none;
}

.special-box:after{
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	top:0;
	right:-40px;
	width:0;
	height:0;
	border-width:0 0 30px 40px ;
	border-style:solid;
}


/* ================= About ============================= */

.ri-grid{
	margin: 0 auto 30px;
	position: relative;
	height: auto;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}

/* carousel slider */

/* ================= services ============================ */
section#services {
	background: #000 url(../img/bg/bg-1.jpg) 50% 0 no-repeat;
	width:100%;
	height:auto;
	margin:0;
}

@media (min-width: 1024px) {
	section#services {
		background-attachment: fixed;
	}
}

#services .headline h3 {
	color:#fff;
}

#services .section-intro p {
	color:#f8f8f8;
}

.service-intro{
	width:100%;
	margin:30px 0 30px 0;
	padding-top:20px;
	text-align:center;
}

.service-intro h3{
	font-size:64px;
	margin-bottom:0;
}

/*========== works ==================*/

ul.filter {
	margin:20px 0 40px 0;
	float:left;
	list-style:none;
}

ul.filter li{
	float:left;
	margin-right:10px;
}

ul.filter li.active a {
	background:#333;
}

ul.filter li a{
	text-shadow:none;
}




.portfolio-area{
	float: left;
	width:100%;
	margin:0 0 0 15px;
	padding:0;
}

.portfolio-area li{
	float: left;
	list-style:none;
	margin:0 15px 30px 15px;
	padding:0;
}

.thumb-wrapp{
	width:270px;
	height:180px;
	position:relative;
	text-shadow:none;
	color:#fdfdfd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.folio-image{
	width:270px;
	height:180px;
	position:absolute;
	z-index:9;
	bottom:0;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}


.folio-caption{
	position:absolute;
	text-shadow:none;
	width:270px;
	bottom:0;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.folio-caption h5{
	float:left;
	color:#fff;
	text-shadow:none;
	margin:20px 0 0 10px;
}

.folio-caption .folio-link{
	float:right;
	padding-top:10px;
}

.folio-caption .folio-link a{
	margin:10px 5px 10px 0;
}

/* ============== contact ==================== */
ul.contact-list{
	list-style:none;
	margin:0;
	padding:0;
}

ul.contact-list li{
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
}

ul.contact-list li input.form_input,ul.contact-list li textarea.form_textarea {
	width: 100%;
	padding:10px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

ul.contact-list li.last{
	margin-bottom:0;
}

ul.contact-list li label{
	font-size:14px;
	margin-bottom:10px;
}

.validation {
  color: red;
  display:none;
  margin: 0;
  font-weight:400;
  font-size:13px;
}

#sendmessage {
  color: green;
  border:1px solid green;
  display:none;
  text-align:center;
  padding:15px;
  font-weight:600;
  margin-bottom:15px;
}

#errormessage {
  color: red;
  display:none;
  border:1px solid red;
  text-align:center;
  padding:15px;
  font-weight:600;
  margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/* ================= bottom ========================== */

section#bottom {
	background: url(../img/bg/bg-1.jpg) 50% 0 no-repeat;
	width:100%;
	height:auto;
	margin:0;
	padding:40px 0 30px;
}

@media (min-width: 1024px) {
	section#bottom {
		background-attachment: fixed;
	}
}

/* twitter */
.tweet {
	overflow:hidden;
	padding:10px;
	color:#fff;
	font-size:34px;
}



.tweet ul {
	list-style:none;
}

#bottom .icon-twitter {
	color:#fff;
}

.tweet .tweet_time a:hover {
	text-decoration:none;
}

/* Footer */

footer{
	float:left;
	width:100%;
	background:#212121;
	color:#fff;
	margin:0;
	padding:40px 0 0 0;
}

footer .verybottom {
	padding:30px 0 10px 0;
}

.tabbable{
	padding:0;
}

.gray-shadow{
	background:url(../img/gray-gradient.png) repeat-x top left;
	width:100%;
	height:30px;
	position:absolute;
	top:0;
	left:0;
}

.video{
	border:none;
	width:100%;
	height:280px;
}

.thumbnail{
	background:#fff;
}

img.pull-left{
	margin:0 20px 20px 0;
}


/* social links */
.social-links {
	list-style:none;
	margin:0;
	margin-bottom:20px;
}
.social-links li {
	display:inline;
}
.social-links li a {
	margin:0;
}
.social-links li {
	margin:0;
}
.social-links li a:hover {
	text-decoration:none;
}


/* ===================== Components ==========================*/

/* demo class */
.demobutton a {
	margin-bottom:10px;
}


/* tab */
.nav-tabs {
	margin:0;
}
.nav-tabs > li > a {
	font-weight:bold;
}
.tab-content {
	border:1px solid #ddd;
	border-top:none;
	padding: 10px;

}

/* accordion */

.accordion-heading {
	background:#f8f8f8;
}

.accordion-heading a {
	font-weight:bold;
	color:#444;
}
.accordion-heading a:hover {
	text-decoration:none;
}
.accordion-heading {
  	border-bottom: 0;
}

.accordion-heading .accordion-toggle {
  	display: block;
  	padding: 8px 15px;
	text-decoration: none;
}

.accordion-heading .accordion-toggle i {
  	margin-right: 10px;
}

.accordion-heading .active{
	background:#fff;
}


.accordion-toggle {
  	cursor: pointer;
}

.accordion-inner {
  	padding: 9px 15px;
  	border-top: 1px solid #eee;
}

/* Align center */
.aligncenter{
	margin:0 auto;
	text-align:center;
}

.aligncenter i {
	text-align:center;
}

.aligncenter img, img.aligncenter{
	margin-bottom:20px;
}


/* spacer */

.botspacer30{
	margin-bottom:30px;
}


.letter-container h2 span {
	font-size: 64px;
	text-transform:uppercase;
	font-weight:400;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.6s linear backwards;
	-moz-animation: sharpen 0.6s linear backwards;
	-ms-animation: sharpen 0.6s linear backwards;
	animation: sharpen 0.6s linear backwards;
}

.letter-container h2 span:nth-child(1) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.letter-container h2 span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.letter-container h2 span:nth-child(3) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
.letter-container h2 span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.letter-container h2 span:nth-child(5) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.letter-container h2 span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.letter-container h2 span:nth-child(7) {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	-ms-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.letter-container h2 span:nth-child(8) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.letter-container h2 span:nth-child(9) {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	-ms-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(10) {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.letter-container h2 span:nth-child(11) {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.letter-container h2 span:nth-child(12) {
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	-ms-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.letter-container h2 span:nth-child(13) {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.letter-container h2 span:nth-child(14) {
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.letter-container h2 span:nth-child(15) {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.letter-container h2 span:nth-child(16) {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
@keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}


/* ==== media screen queries ==== */

@media (min-width: 768px) and (max-width: 979px) {
	.navbar-inner {
		width:100%;
	}
	#topnav .navbar-inner .container .logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
	}
	.default {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
	}

	#sequence-theme #sequence {
		padding-right:40px;
	}
}

@media (max-width: 767px) {

	.navbar-inner {
		width:100%;
	}
	.navbar-inner .container {
	width:100%;
    padding-left: 20px;
    padding-right: 20px;
	}
	.default {
	position: fixed;
	background:#2a2a2a;
	width: 100%;
	padding-right:20px;
	}

	.fixed {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
		padding-right:20px;
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
	}

	#topnav .navbar-inner .container .logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
	}

	div nav ul {
		display:none;
	}
	nav ul li {
		display:none;
	}
    nav select {
      display: block;
	  width:50%;
	  float:right;
	  margin-bottom:20px;
	  color:#111;
	  margin-top:20px;
	  margin-right:20px;
	  line-height:30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		font-size:14px;
    }

    nav select  a {
		line-height:1.5em;
    }

#sequence-theme #sequence {
	width:80%;
  min-height: 400px;
	padding-right:40px;
}
#sequence ul li h4.subtitle {
	display:none;
}
#sequence ul li img {
	margin-top:30px;
}
	.well.box {
		margin-bottom:20px;
	}

	ul.filter li {
		margin-bottom:10px;
	}
	.tweet span {
		line-height:1.5em;
	}

}


@media (max-width: 480px) {

    nav select {
    display: inline-block;
	  width:85%;
	  float:none;
	  margin:20px;
	  color:#111;
	  line-height:30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		font-size:14px;
	}

section#featured{
	padding:180px 0 20px;
}

#sequence-theme #sequence {
  min-height: 300px;
  padding-right:40px;
}

#sequence ul li h4.subtitle {
	display:none;
}

.section {
	padding:180px 0 40px 0;
}

	ul.filter li {
		margin-bottom:10px;
	}

	.tweet span {
		line-height:1.5em;
	}
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.border-0 {
    border: 0 !important;
	margin-bottom: 30px;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.p-0 {
    padding: 0 !important;
}
.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}
.border-top-0 {
    border-top: 0 !important;
}
.border {
    border: 1px solid #dee2e6 !important;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h5.card-title a, h5.card-title {
    color: #000;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}
.m-0 {
    margin: 0 !important;
}
.blog_w3icon span {
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
#details-enquiry {
    border: 1px solid #DFDFDF;
	padding:20px;
}
#list-head h1 {
    color:#BB2026;
    float: left;
    font-size: 27px;
    margin-top: 30px;
	font-family:Tahoma;
}
#list-head h4 {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
	font-family:Tahoma;
}
#details-enquiry h5{
font-family:Tahoma;
font-size:18px;
}
#details-enquiry h4{
margin:30px 0px;
color:#BB2026;
}
.pro-details h4{
margin:10px 0px;
color:#FF0000;
}
.all-head .fade-top{
position:absolute;
margin-top:-125px;
margin-left:-20px;
color:#FFFFFF;
font-size:52px;
}
