@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: NotoSansMalayalam-SemiBold;
  src: url(../malayalam/static/NotoSansMalayalam/NotoSansMalayalam-SemiBold.ttf);
}
body {
	width: 100%;
	height: 100%;
    font-family: NotoSansMalayalam-Bold;
	    line-height: 2;
	background: #fff;
}
html, body {
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}
.pa-space {
	padding: 50px 0;
}
.pa-banner__header {
	width: 100%;
	float: left;
	position: relative;
}
:focus {
  outline: none;
  outline-offset: none;
}
/*=============== paCarousel/ pa-caption ====================*/
.pa-item img {
	width: 100%;
}
.pa-caption {
	width: 100%;
	left: 0;
	text-align: left;
	right: 0;
	bottom: 175px;
}
.pa-caption h3 {
	width: 100%;
	float: left;
}
.pa-caption h3 span {
	background: rgba(85, 18, 30, 0.7);
	font: 300 52px 'Oswald';
	text-transform: uppercase;
	letter-spacing: 0.5px;
	float: left;
	margin: 0 0 20px;
	padding: 0px 30px;
}
.pa-caption a {
	border-radius: 5px;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	font: 400 18px 'Open Sans';
	padding: 12px 25px;
	text-shadow: none;
}
.pa-caption a:hover {
	color: #97051f;
}
.pa-header {
	width: 100%;
	float: left;
	background: #000;
	padding-top: 8px;
	position: absolute;
	top: 0;
	left: 0;/*-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
.pa-header.pa-fade {
	background: #000; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000, rgba(0, 0, 0, 0)); /* Standard syntax */
	min-height: 120px;
	z-index:999;
}
/*============== pa-navbar =======================*/
.pa-navbar {
	margin-bottom: 0;
	margin-top: 12px;
}
.pa-navbar .navbar-nav > li > a {
	color: #fff;
	font: 400 14px 'Ubuntu';
	padding: 10px 16px;
	position: relative;
	border-top: solid 2px transparent;
	border-bottom: solid 2px transparent;
}
.pa-navbar .navbar-nav > li.active > a, .pa-navbar .navbar-nav > li.active > a:hover {
	background: transparent;
	border-color: #fec85b;
	color: #fff;
}
.pa-navbar .navbar-nav > li > a:hover {
	background: transparent;
	color: #fec85b;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.navbar-toggle {
	position: absolute;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	right: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #000;
}
.s-logo {
	display: none;
}
header.pa-header.pa-fade.affix {
	position: fixed;
	background: #fff;
	min-height: initial;
	padding-bottom: 8px;
	z-index: 999;
	box-shadow: inset 0 -2px #efedec, 0 0 30px 2px rgba(0, 0, 0, 0.56);
 tr
}
header.pa-header.pa-fade.affix .pa-navbar .navbar-nav > li > a {
	color: #000
}
header.pa-header.pa-fade.affix .s-logo {
	display: block;
}
header.pa-header.pa-fade.affix .logo-img {
	display: none;
}
/*===================== pa-awards-set ========================*/
.pa-awards-set {
	width: 100%;
	padding: 10px 0;
	background: rgba(242, 242, 242, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
}
.pa-awards__nominate {
	width: 100%;
	float: left;
}
.pa-awards__box {
	width: 200px;
	display: inline-block;
	text-align: center;
}
.pa-img__box {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 5px #a2a1a1;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
}
.pa-awards__box span {
	font: 700 16px 'Philosopher';
	color: #000;
	margin-top: 10px;
	text-transform: uppercase;
	display: block;
}
.pa-first-award {
	width: auto;
	margin-right: 47px;
}
.view_gallery {
	float: right;
	margin-top: 80px;
}
.view_gallery a {
	background: #f9d77f;
	font: 400 16px 'Open Sans';
	color: #000;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
}
/*=================== pa-tabs-section ============*/
.pa-tabs-section {
	width: 100%;
	float: left;
	background: #fff;
}
.pa-tabs {
	float: left;
	list-style: none;
	padding-left: 0;
}
.pa-tabs li {
	margin-top: 10px;
	margin-left: 0;
}
.pa-tabs li {
	width: 280px;
	height: 75px;
}
.pa-tabs li a {
	color: #181818;
	font: 700 20px 'Ubuntu';
	text-transform: uppercase;
	text-align: center;
	border-radius: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	display: table;
	background: #d9d7d7;
	border-left: solid 5px transparent
}
.pa-tabs li a span {
	vertical-align: middle;
	display: table-cell;
}
.pa-tabs li.resp-tab-active {
	margin-right: -1px;
	width: 281px;
}
.pa-tabs li.resp-tab-active a, .pa-tabs li.resp-tab-active a:hover, .pa-tabs li.resp-tab-active a:focus {
	/*border-top: solid 1px #bcbcbc;*/
  /*border-bottom: solid 1px #bcbcbc;*/
	background: transparent;
	color: #55121e;
	position: relative;
	border-left: solid 5px #bcbcbc;/*border-right: solid 1px #fff;*/
}
.pa-tabs li.resp-tab-active a:before {
	content: '';
	width: 0;
	height: 0;
	left: 0px;
	top: 26%;
	border-top: solid 15px transparent;
	border-bottom: solid 15px transparent;
	border-left: solid 10px #bcbcbc;
	position: absolute;
}
.pa-tab__content {
	float: left;
	width: calc(100% - 280px);
	border: solid 1px #bcbcbc;
	border-radius: 0 4px 4px 0;
	padding: 20px;
}
.pa-tabs-img {
	float: left;
	margin-right: 20px;
}
.pa-tabs-img img {
	border-radius: 5px;
	width: 100%;
}
.pa-tabs-inner_content h3 {
	font: 700 22px 'Open Sans';
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}
.pa-tabs-inner_content p {
	font: 400 14px 'Ubuntu';
	color: #000;
	line-height: 20px;
	margin-bottom: 5px;
}
.pa-tabs-inner_content h4 {
	font: 500 16px 'Ubuntu';
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}
.pa-tabs-inner_content a {
	background: #f9d77f;
	border-radius: 5px;
	padding: 8px 20px;
	font: 400 16px 'Ubuntu';
	color: #000;
	text-transform: uppercase;
	margin-top: 5px;
	float: left;
}
/*============= pa-any__query ================*/
.pa-any__query {
	width: 100%;
	float: left;
	background: #f9d77f;
}
.pa-help-text {
	width: 100%;
	float: left;
	padding: 37px 0;
}
.pa-help-text span {
	font: 400 32px 'Ubuntu';
	text-transform: uppercase;
	color: #131313;
}
.pa-help-contact {
	width: 100%;
	float: left;
	text-align: center;
}
.pa-help-contact h4 {
	font: 400 52px 'Ubuntu';
	line-height: 41px;
	color: #775602;
}
.pa-help-contact p {
	font: 400 30px 'Ubuntu';
	line-height: 41px;
	color: #775602;
}
/*============== pa-photo__gallery =========================*/
.pa-photo__gallery {
	width: 100%;
	float: left;
}
.pa-photo {
	width: 100%;
	float: left;
}
.pa-photo h4 {
	margin-bottom: 30px;
	font: 700 36px 'Ubuntu';
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #000;
}
.pa-photo ul {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
}
.pa-photo ul li {
	display: inline-block;
	position: relative;
	width: 24.7%;
	margin-bottom: 3px;
}
.pa-photo ul li img {
	max-width: 100%;
}
.image_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.image_overlay > div {
	display: table;
	width: 100%;
	height: 100%;
}
.image_overlay > div > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.image_overlay > div > div a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-size: 22px;
	color: #fff;
	background: #000;
	display: inline-block;
}
.pa-photo ul li:hover .image_overlay {
	display: block;
}
/*=============== pa-footer ===========*/
.pa-footer {
	width: 100%;
	float: left;
	padding: 18px 0;
	background: #55121e;
}
.pa-quick_links {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
	text-align: right;
	margin-bottom: 0;
}
.pa-quick_links li {
	display: inline-block;
	color: #fff;
}
.pa-quick_links li a {
	color: #fff;
	font: 400 14px 'Ubuntu';
	line-height: 33px;
	padding: 0 12px;
}
.pa-quick_links li a:hover {
	opacity: 0.7;
}
/*============= pa-copyright ==============*/
.pa-copyright {
	width: 100%;
	float: left;
	background: #f9d77f;
	padding: 12px 0;
}
.pa-social__links {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
	text-align: left;
	margin-bottom: 0;
}
.pa-social__links li {
	display: inline-block;
	color: #fff;
}
.pa-social__links li a {
	color: #55121e;
	font: 400 14px 'Ubuntu';
	line-height: 33px;
	padding: 0 12px;
}
.pa-social__links li a:hover {
	opacity: 0.7;
}
.pa-copyright p {
	font: 400 14px 'Ubuntu';
	color: #000;
	float: right;
	margin-bottom: 0;
	margin-top: 8px;
}
/*============= pa-about ==============*/
section.about-us {
	padding: 0px 0px 45px 0px;
}
.pa-margin {
	margin: 0px 0px 50px 0px
}
.bpage-title {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: left;
	right: 0;
	bottom: 0px;
	background: #000;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.bpage-title h2 {
	color: #fff;/*980b24;*/
	text-transform: uppercase;
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 20px;
}
.about-us h3 {
	text-transform: uppercase
}
.about-us p {
	margin-bottom: 16px
}
.about-us ul {
	list-style-image: url(../images/icon-circle.png);
	padding-left: 30px
}
.about-us ul li {
	line-height: 28px
}
/*============= pa-form ==============*/
.btn-form-color, .btn-form-color:hover, .btn-form-color:focus, .btn-form-color:active {
	background: #dddddd;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	box-shadow: none;
	outline: none
}
section.adhar-verification-section {
	margin: 50px 0px 50px 0px;
}
.adhar-verification-section h3 {
	color: #000;
	border: none;
	margin-top: 0;
}
.confirm_otp-form{
	width: 40%;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	border: solid 1px #ddd;
}
.input-style {
	height: 46px;
	margin: 20px 0px 30px 0px
}
.login-section label {
	text-align: left !important
}
.str {
	color: red
}
.login-section .form-control {
	height: 42px;
}
.login-title {
  border-bottom: solid 1px #eee;
  text-align: left;
  padding: 10px 25px;
  font-size: 16px;
  margin-bottom: 0px;
}
.f-password:hover {
	color: #337ab7;
}
.blue-color {
	color: #337ab7 !important;
	font-size: 14px;
}
section.login-section {
	margin: 30px 0px 30px 0px;
}
.reg-title {
	padding: 5px 25px;
	font-size: 22px;
	text-align: left;
	color: #55121e;
	background: #f5f5f5;
	border-radius: 5px 5px 0 0;
}
.sub-desc {
	text-align: left;
	margin-bottom: 0px;
	background: #f5f5f5;
  padding: 5px 25px;
}
.regis-section textarea {
	height: 100px !important
}
.regis-section .form-control {
	height: 42px;
}
.regis-section label {
	text-align: left !important
}
section.regis-section {
	margin: 55px 0px;
}
.form-title {
	    border-bottom: solid 1px #eee;
    text-align: left;
    padding: 10px 25px;
    font-size: 26px;
    margin-bottom: 0px;
}
.margin{
	margin-left:0px;
	padding-left:0px;
	padding-bottom:10px
}
.form-inner {
  /*background: #fff;*/
  padding: 25px;
  /*border:1px solid #eaeaea*/
}
label[for="organisation"],
label[for="individual"] {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.form-inner>p{    
	margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #e0dfdf;
  padding-bottom: 6px;
}
.proceed{
	margin-top:10px
}
.dash-bar {
  background: #efefef;
  display: inline-block;
  width: 100%;
  color:#fff;
  padding:10px 0px;
}
.dash-bar p{
	margin:0px;
	padding:0px;
	color: #8e061f;
}
.dash-bar p a{
	color: #8e061f;
	padding: 0 15px;
}
.dash-bar p a:hover{
	opacity: 0.6;
}
.dash-nomination p a {
  background: rgb(249, 215, 127);
  padding: 12px 5px;
  color: #000;
  width: 100%;
  display: block;
  border-radius:5px
}
.dash-nomination p{
	margin:25px 0px
}
.dash-three-section.text-center {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}
.dash-three-section p:first-child {
  /* padding: 10px; */
  border-radius: 50%;
  border: solid 4px #eee;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 95px;
  margin: auto;
  margin-bottom: 10px;
}
.phome .modal-header {
  padding: 0px;
  border-bottom:0px solid #e5e5e5;
}
.phome img {
	width:100%;
}
.phome .modal-body{
	padding:5px;
}

.modal-header .close {
	margin-top: 0;
	color: red;
	font-size: 22px;
	opacity: 0.8;
	background: #fff;
	position: absolute;
	right: 5px;
	z-index: 99;
	padding: 3px 5px;
	top: 5px;
}
.modal-header .close:hover, .modal-header .close:focus{
	outline: none;
	box-shadow: none;
	opacity: 1;
}
.nomination-form {
  background: #f9f9f9;
  border-radius: 5px;
  border: solid 1px #ddd;
}
.nomination-form form {
  padding: 25px;
}
.nomination-title{
	border-bottom: solid 1px #eee;
  text-align: left;
  padding: 10px 25px;
  font-size: 26px;
  margin-bottom: 0px;
}
.nomination-section label {
  text-align: left !important;
  margin-bottom: 5px !important;
  font-weight: 400;
}
a.addnew-btn {
	background: #55121e;
	color: #fff;
	padding: 10px 10px;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	float: left;
	border-radius: 5px;
	font-size: 14px;
}
.control-label {
  text-align: left !important;
  margin-bottom: 5px !important;
  font-weight: 400;
}
.login-form{
	width: 56%;/*76%;*/
	margin: auto;
	background: #f9f9f9;
	border-radius: 5px;
	border: solid 1px #ddd;
}
.login-form form {
  padding: 20px;
}

.nomination-section .form-control {
	height: 42px;
}
section.nomination-section {
  margin: 50px 0px;
}
.registration-form {
    width: 80%;
    margin: auto;
    background: #f9f9f9;
    border-radius: 5px;
    border: solid 1px #ddd;
}
.registration-form > form{
	padding: 25px;
}
.form-three{
	width: 70%;
}

.pa-about-contact{
	background: #fbe2a0;
}
.form-horizontal .radio{
	padding-top: 0px;
}
.radio div {
  display: inline-block;
  margin-top: 0px;
}
.radio div label {
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  padding: 0 10px 0 40px;
}
/* hide input */
.radio div input[type=checkbox]:empty,
.radio div input[type=radio]:empty {
	/*margin-left: -999px;*/
	opacity: 0;
}

/* style label */
.radio div input[type=checkbox]:empty ~ label,
.radio div input[type=radio]:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	/*text-indent: 3.25em;*/
	/*margin-top: 2em;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  color: #666;
}

.radio div input[type=checkbox]:empty ~ label:before,
.radio div input[type=radio]:empty ~ label:before  {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

/* toggle hover */
.radio div input[type=checkbox]:hover:not(:checked) ~ label:before,
.radio div input[type=radio]:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.radio div input[type=checkbox]:hover:not(:checked) ~ label,
.radio div input[type=radio]:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.radio div input[type=checkbox]:checked ~ label:before,
.radio div input[type=radio]:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #bf8c07;
	background-color: #f9d77f;
}

.radio div input[type=checkbox]:checked ~ label,
.radio div input[type=radio]:checked ~ label {
	color: #000;
  border: 1px solid #f9d77f;
}

/* radio focus */
.radio div input:focus ~ label:before {
	/*box-shadow: 0 0 0 3px #999;*/
}

.submit-button {
  color: #fff;
  background: #55bd08;
}
.submit-button:hover, .submit-button:focus, .submit-button:active	{
	background: #57bf08;
	color: #fff;
}
label.error {
  color: #f55;
  margin-left: 20px;
  font-weight: normal;
}
label#fornominate-error {
    float: left;
    width: auto;
    border: none;
    padding: 0;
    position: absolute;
    right: 46px;
    top: -25px;
}
.captcha{
	min-height: 42px;
  margin-top: 32px;
}
input[type="file"] {
  display: block;
  width: 100%;
}
#register_user_type .radio {
    float: left;
    width: 100%;
}
span.error {
    color: #f55;
    width: 100%;
    float: left;
}
.submit-column {
    margin-top: 30px;
}
.submit-column p{
	margin-top: 18px;
}
.ph-code{
	padding: 6px;
}
.register-aafhar{
	margin-top: 18px;
  float: left;
}
a.f-password {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.login-form label.control-label {
    padding-top: 0;
}

/*=============================== PADMA PAGE CSS ===============================*/
.tech-slideshow {
  height: 395px;
  overflow: hidden;
}
.tech-slideshow > div {
  width: 5000px;
  background-image:url(../images/padma-banner1.jpg);
  height: 100%;
  animation: moveSlideshow 50s linear infinite;
  -moz-animation: moveSlideshow 50s linear infinite;
  -o-animation: moveSlideshow 50s linear infinite;
  -webkit-animation: moveSlideshow 50s linear infinite;
}
@keyframes moveSlideshow {
100% { 
    transform: translateX(-66.6666%);
	-webkit-transform: translateX(-66.6666%);
}
}
@-webkit-keyframes moveSlideshow  {
  100% { 
    transform: translateX(-66.6666%);
	-webkit-transform: translateX(-66.6666%);
	}
}

.padma-heading {
    float: left;
    width: 100%;
    margin: 66px 0 40px 0;
}
.padma-left {
	float:left;
	width:50%;
}
.padma-left img {
    float: left;
    margin-right: 20px;
}
.padma-right {
    float: right;
}
.padma-right img {
    float:left;
	margin-right: 20px;
	padding: 9px 0;
}
.padma-left h4, .padma-right h4 {
    float: left;
    font-size: 30px;
    margin: 0;
	color:#76413f;
	padding: 4px 0;
}
.padma-right a {
    color:#76413f;
}
.padma-filter {
	float:left;
	width:100%;
	margin-bottom:52px;
}
.filters {
	background:#cccccc;
	float:left;
	width:100%;
	border-radius: 8px;
}
.filters img {
    float:left;	
}
.filter-select select {
    width: 254px;
	height:34px;
    border: none;
    margin: 11px 6px;
    padding: 0 8px;
    font-size: 16px;
    color: #000;
	line-height:34px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.filter-select select {
	margin: 9px 6px;
}
}
.award-samman {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}	
.samman img {
    border: 1px solid #9a9a9a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 100%;
}
.modal-dialog{width:90%;}
.modal-body{padding:0;}
.modal-body img {
	width:100%;
}
.modal-header{padding:0; border-bottom:0;}
.modal-header .close{background: #fff;
border-radius: 60px;
color: #000;
top: -13px;
right: -13px;
border: 2px solid #fff;
opacity: 1;
width: 30px;
height: 30px;
line-height: 20px;
text-align: center;}
@media only screen and (max-width: 1199px) {
.filter-select select {
    width: 200px;
}
}
@media only screen and (max-width: 991px) {
.filter-select select {
    width: 310px;
}
}
@media only screen and (max-width: 767px) {	
.padma-heading {
    margin: 20px 0;
	padding:0 10px;
}
.padma-left {
    width: 63%;
}
.padma-left img, .padma-right img {
	margin-right: 5px;
}
.padma-left h4, .padma-right h4 {
    font-size: 15px;
padding: 12px 0;
}
.padma-filter {
    margin: 0 15px 30px 15px;
width: auto;
}
.filters {
    padding: 15px 0;
}
.filters img {
    display: none;
}
.filter-select {
    text-align: center;
}	
.filter-select select {
    width: 90%;
	margin:6px;
}
.samman img {
    margin-bottom: 15px;	
}
.award-samman {
    margin-bottom: 20px;
}
}