﻿@charset "utf-8";
/* CSS Document */

body {
	background-image: url("../../images/bg.jpg");
  background-position: center center;
    background-size: cover;
  background-attachment: fixed;
}
html, body {
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
a:hover, a:focus {cursor: pointer; 
	text-decoration: none;
	outline: none;
	color: #fff;
}
.pa-space {
	padding: 50px 0;
}
.pa-banner__header {
	width: 100%;
	float: left;
	position: relative;
}
/*=============== paCarousel/ pa-caption ====================*/
.pa-item img {
	width: 100%;
}
.pa-caption {
	width: 100%;
	left: 0;
	text-align: left;
	right: 0;
	bottom: 175px;
}
.pa-caption h3 {
	width: 100%;
	float: left;
}
.pa-caption h3 span {
	background: rgba(85, 18, 30, 0.7);
	font: 300 52px 'Oswald';
	text-transform: uppercase;
	letter-spacing: 0.5px;
	float: left;
	margin: 0 0 20px;
	padding: 0px 30px;
}
.pa-caption a {
  opacity: .6;
	border-radius: 5px;
	background: #f9d77f;
	color: #000;
	text-transform: uppercase;
	font: 400 28px 'Open Sans';
	padding: 22px 25px;
	text-shadow: none;
}
.pa-caption a:hover {
	color: #97051f;
}
.pa-header {
	width: 100%;
	float: left;
	background: #000;
	padding-top: 8px;
	position: absolute;
	top: 0;
	left: 0;/*-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
.pa-header.pa-fade {
	background: #000; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000, rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000, rgba(0, 0, 0, 0)); /* Standard syntax */
	min-height: 120px;
}
/*============== pa-navbar =======================*/
.pa-navbar {
	margin-bottom: 0;
	margin-top: 12px;
}
.pa-navbar .navbar-nav > li > a {
	color: #fff;
	font-family:'Ubuntu';
	font-size:17px;
	padding: 10px 16px;
	position: relative;
	border-top: solid 2px transparent;
	border-bottom: solid 2px transparent;
}
.pa-navbar .navbar-nav > li.active > a, .pa-navbar .navbar-nav > li.active > a:hover {
	background: transparent;
	border-color: #339933;
	color: #fff;
}
.pa-navbar .navbar-nav > li > a:hover {
	background: transparent;
	color: #339933;
	font-family:'Ubuntu';
	font-size:16px;
	font-weight:bold;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
ul.submenu {
margin: 0px 0px 0px -20px; background: #339933;; padding: 10px;width: 225px; border-radius:5px;
}
ul.submenu .subitem {
  color: white;padding:10px;
  border-bottom:1px solid #CCCCCC;
}
ul.submenu .subitem:hover {
 background: #5cb85c;
}
ul.submenu .subitem a {
  width: 40px; color: white;
  font-family:'Ubuntu';
	font-size:13px;
	font-weight:bold;
}
ul.submenu .subitem a:hover {
	background: transparent;
	font-family:'Ubuntu';
	font-size:13px;
	font-weight:bold;
	 color:#000000;
}
.navbar-toggle {
	position: absolute;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	right: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #000;
}
.s-logo {
	display: none;
}
header.pa-header.pa-fade.affix {
	position: fixed;
	background: #fff;
	min-height: initial;
	padding-bottom: 8px;
	z-index: 999;
	box-shadow: inset 0 -2px #efedec, 0 0 30px 2px rgba(0, 0, 0, 0.56);
}
header.pa-header.pa-fade.affix .pa-navbar .navbar-nav > li > a {
	color: #000
}
header.pa-header.pa-fade.affix .s-logo {
	display: block;
}
@media only screen and (max-width: 450px) {
	header.pa-header.pa-fade.affix .s-logo {
		margin-top:10px;
	width:10%;
}
.pa-navbar {
    margin-bottom: 0;
    margin-top: -36px;
}
}
header.pa-header.pa-fade.affix .logo-img {
	display: none;
}
/*===================== pa-awards-set ========================*/
.pa-awards-set {
	width: 100%;
	padding: 10px 0;
	background: rgba(242, 242, 242, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
}
.pa-awards__nominate {
	width: 100%;
	float: left;
}
.pa-awards__box {
	padding-right:5px;
	display: inline-block;
	text-align: center;
}
.pa-img__box {
padding-top: 4px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 5px #a2a1a1;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
	font-family: sans-serif;
	font-size:16px;
}
.img_Ani_box img{
height: 88px;
    width: 88px;
}
.pa-img__box_rec {
padding-top: 22px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 5px #a2a1a1;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
}


.pa-awards__box span {
	font: 700 14px 'Ubuntu';
	color: #000;
	margin-top: 10px;
	text-transform: uppercase;
	display: block;
}
.pa-first-award {
	width: auto;
	margin-right: 47px;
}
.view_gallery {
	float: right;
	margin-top: 80px;
}
.view_gallery a {
	background: #f9d77f;
	font: 400 16px 'Open Sans';
	color: #000;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
}
/*=================== pa-tabs-section ============*/
.pa-tabs-section {
	width: 100%;
	float: left;
	background: #fff;
}
.pa-tabs {
	float: left;
	list-style: none;
	padding-left: 0;
}
.pa-tabs li {
	margin-top: 10px;
	margin-left: 0;
}
.pa-tabs li {
	width: 280px;
	height: 75px;
}
.pa-tabs li a {
	color: #181818;
	font: 700 20px 'Ubuntu';
	text-transform: uppercase;
	text-align: center;
	border-radius: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	display: table;
	background: #d9d7d7;
	border-left: solid 5px transparent
}
.pa-tabs li a span {
	vertical-align: middle;
	display: table-cell;
}
.pa-tabs li.resp-tab-active {
	margin-right: -1px;
	width: 281px;
}
.pa-tabs li.resp-tab-active a, .pa-tabs li.resp-tab-active a:hover, .pa-tabs li.resp-tab-active a:focus {
	/*border-top: solid 1px #bcbcbc;*/
  /*border-bottom: solid 1px #bcbcbc;*/
	background: transparent;
	color: #55121e;
	position: relative;
	border-left: solid 5px #bcbcbc;/*border-right: solid 1px #fff;*/
}
.pa-tabs li.resp-tab-active a:before {
	content: '';
	width: 0;
	height: 0;
	left: 0px;
	top: 26%;
	border-top: solid 15px transparent;
	border-bottom: solid 15px transparent;
	border-left: solid 10px #bcbcbc;
	position: absolute;
}
.pa-tab__content {
	float: left;
	width: calc(100% - 280px);
	border: solid 1px #bcbcbc;
	border-radius: 0 4px 4px 0;
	padding: 20px;
}
.pa-tabs-img {
	float: left;
	margin-right: 20px;
}
.pa-tabs-img img {
	border-radius: 5px;
	width: 100%;
}
.pa-tabs-inner_content h3 {
	font: 700 22px 'Open Sans';
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}
.pa-tabs-inner_content p {
	font: 400 14px 'Ubuntu';
	color: #000;
	line-height: 20px;
	margin-bottom: 5px;
}
.pa-tabs-inner_content h4 {
	font: 500 16px 'Ubuntu';
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}
.pa-tabs-inner_content a {
	background: #f9d77f;
	border-radius: 5px;
	padding: 8px 20px;
	font: 400 16px 'Ubuntu';
	color: #000;
	text-transform: uppercase;
	margin-top: 5px;
	float: left;
}
/*============= pa-any__query ================*/
.pa-any__query 
{
    padding-bottom: 20px;
    padding-top: 20px;
	width: 100%;
	float: left;
	background:#339933;
}
.pa-help-text {
	width: 100%;
	float: left;
	padding: 35px;
}
.pa-help-text span {
	font: 400 50px 'Ubuntu';
	text-transform: none;
	color:#FFFFFF;
}
.help-box{
border: solid 5px #339933;
border-radius: 50px;
}
.pa-help-contact 
{
	width: 100%;
	float: left;
	text-align: center;
	padding:20px;
}
.pa-help-contact h4 {
	font: 400 29px 'Ubuntu';
	line-height: 22px;
	color:#FFFFFF;
}
.pa-help-contact p {
	font: 400 19px 'Ubuntu';
	line-height: 41px;
	color:#FFFFFF;
}
/*============== pa-photo__gallery =========================*/
.pa-photo__gallery {
	width: 100%;
	float: left;
}
.pa-photo {
	width: 100%;
	float: left;
}
.pa-photo h4 {
    margin-top: 30px;
	margin-bottom: 30px;
	font: 700 28px 'Ubuntu';
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #339933;
}

.pa-photo ul {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
}
.pa-photo ul li {
	display: inline-block;
	position: relative;
	width: 24.7%;
	margin-bottom: 3px;
}
.pa-photo ul li img {
	max-width: 100%;
}
.image_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.image_overlay > div {
	display: table;
	width: 100%;
	height: 100%;
}
.image_overlay > div > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.image_overlay > div > div >a i {
    margin-top: 12px;
}
.image_overlay > div > div a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-size: 22px;
	color: #fff;
	background: #000;
	display: inline-block;
}
.pa-photo ul li:hover .image_overlay {
	display: block;
}
/*=============== pa-footer ===========*/
.pa-footer {
	width: 100%;
	float: left;
	padding: 18px 0;
	background: #55121e;
}
.pa-quick_links {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
	text-align: right;
	margin-bottom: 0;
}
.pa-quick_links li {
	display: inline-block;
	color: #fff;
}
.pa-quick_links li a {
	color: #fff;
	font: 400 14px 'Ubuntu';
	line-height: 33px;
	padding: 0 12px;
}
.pa-quick_links li a:hover {
	opacity: 0.7;
}
/*============= pa-copyright ==============*/
.pa-copyright {
	width: 100%;
	float: left;
	background: #339933;
	padding: 12px 0;
}
.pa-social__links {
	width: 100%;
	float: left;
	padding-left: 0;
	list-style: none;
	text-align: left;
	margin-bottom: 0;
}
.pa-social__links li {
	display: inline-block;
	color: #fff;
}
.pa-social__links li a {
	color:#000000;
	font: 400 14px 'Ubuntu';
	line-height: 33px;
	padding: 0 12px;
}
.pa-social__links li a:hover {
	opacity: 0.7;
}
.pa-copyright p {
	font: 400 14px 'Ubuntu';
	color: #000;
	float: right;
	margin-bottom: 0;
	margin-top: 8px;
}
.pa-copyright p a{
	color: #000;
}
.pa-copyright p a:hover{
	color: #000;
	text-decoration:underline;
}
/*============= pa-about ==============*/
section.about-us {
	padding: 0px 0px 45px 0px;
}
.pa-margin {
	margin: 0px 0px 50px 0px
}
.bpage-title {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: left;
	right: 0;
	bottom: 0px;
	background: #000;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.bpage-title h2 {
	color: #fff;/*980b24;*/
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
    margin-bottom: 47px;
}
.inner-top{
margin-top:30px;
}
.about-us h3 {
	text-transform: uppercase
}
.about-us p {
	margin-bottom: 16px;
	line-height:2;
}
.about-us ul {
	list-style-image: url(../images/icon-circle.png);
	padding-left: 30px
}
.about-us ul li {
	line-height: 28px
}
/*============= pa-form ==============*/
.btn-form-color, .btn-form-color:hover, .btn-form-color:focus, .btn-form-color:active {
	background: #dddddd;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	box-shadow: none;
	outline: none
}
section.adhar-verification-section {
	margin: 50px 0px 50px 0px;
}
.adhar-verification-section h3 {
	color: #000;
	border: none;
	margin-top: 0;
}
.confirm_otp-form{
	width: 40%;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	border: solid 1px #ddd;
}
.input-style {
	height: 46px;
	margin: 20px 0px 30px 0px
}
.login-section label {
	text-align: left !important
}
.str {
	color: red
}
.login-section .form-control {
	height: 42px;
}
.login-title {
  border-bottom: solid 1px #eee;
  text-align: left;
  padding: 10px 25px;
  font-size: 16px;
  margin-bottom: 0px;
}
.f-password:hover {
	color: #337ab7;
}
.blue-color {
	color: #337ab7 !important;
	font-size: 14px;
}
section.login-section {
	margin: 30px 0px 30px 0px;
}
.reg-title 
{
    border-bottom: solid 1px #eee;
	padding: 5px 25px;
	font-size: 22px;
	text-align: left;
	color: #55121e;
	background: #f5f5f5;
	border-radius: 5px 5px 0 0;
}
.sub-desc {
	text-align: left;
	margin-bottom: 0px;
	background: #f5f5f5;
  padding: 5px 25px;
}
.regis-section textarea {
	height: 100px !important
}
.regis-section .form-control {
	height: 42px;
}
.regis-section label {
	text-align: left !important
}
section.regis-section {
	margin: 55px 0px;
}
.form-title {
	    border-bottom: solid 1px #eee;
    text-align: left;
    padding: 10px 25px;
    font-size: 26px;
    margin-bottom: 0px;
}
.margin{
	margin-left:0px;
	padding-left:0px;
	padding-bottom:10px
}
.form-inner {
  /*background: #fff;*/
  padding: 25px;
  /*border:1px solid #eaeaea*/
}
label[for="organisation"],
label[for="individual"] {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.form-inner>p{    
	margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #e0dfdf;
  padding-bottom: 6px;
}
.proceed{
	margin-top:10px
}
.dash-bar {
  background: #efefef;
  display: inline-block;
  width: 100%;
  color:#fff;
  padding:10px 0px;
}
.dash-bar p{
	margin:0px;
	padding:0px;
	color: #8e061f;
}
.dash-bar p a{
	color: #8e061f;
	padding: 0 15px;
}
.dash-bar p a:hover{
	opacity: 0.6;
}
.dash-nomination p a {
  background: #339933;
  padding: 12px 5px;
  color: #000;
  width: 100%;
  display: block;
  border-radius:5px
}
.dash-nomination p a:hover {
  background:#5cb85c;
  color:#FFFFFF;
  font-weight:bold;
}
.dash-nomination p{
	margin:25px 0px
}
.dash-three-section.text-center {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}
.dash-three-section p:first-child {
   padding: 10px; 
  border-radius: 50%;
  border: solid 4px #eee;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 95px;
  margin: auto;
  margin-bottom: 10px;
}
.phome .modal-header {
  padding: 0px;
  border-bottom:0px solid #e5e5e5;
}
.phome img {
	width:100%;
}
.phome .modal-body{
	padding:5px;
}

.modal-header .close {
	margin-top: 0;
	color: red;
	font-size: 22px;
	opacity: 0.8;
	background: #fff;
	position: absolute;
	right: 5px;
	z-index: 99;
	padding: 3px 5px;
	top: 5px;
}
.modal-header .close:hover, .modal-header .close:focus{
	outline: none;
	box-shadow: none;
	opacity: 1;
}
.nomination-form {
  background: #f9f9f9;
  border-radius: 5px;
  border: solid 1px #ddd;
}
.nomination-form form {
  padding: 25px;
}
.nomination-title{
	border-bottom: solid 1px #eee;
  text-align: left;
  padding: 10px 25px;
  font-size: 26px;
  margin-bottom: 0px;
}
.nomination-section label {
  text-align: left !important;
  margin-bottom: 5px !important;
  font-weight: 400;
}
.deleteNew-btn
{
	background: #ff0000;
	color: #fff;
	padding: 6px 10px;
	display: inline-block;
	text-align: center;
	float: left;
	border-radius: 5px;
	font-size: 14px;
}
a.addnew-btn {
	background: #55121e;
	color: #fff;
	padding: 10px 10px;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	float: left;
	border-radius: 5px;
	font-size: 14px;
}
.control-label {
  text-align: left !important;
  margin-bottom: 5px !important;
  font-weight: 400;
}
.login-form{
	width: 56%;/*76%;*/
	margin: auto;
	background: #f9f9f9;
	border-radius: 5px;
	border: solid 1px #ddd;
}
.login-form form {
  padding: 20px;
}

.nomination-section .form-control {
	height: 42px;
}
section.nomination-section {
  margin: 50px 0px;
}
.registration-form {
    width: 80%;
    margin: auto;
    background: #f9f9f9;
    border-radius: 5px;
    border: solid 1px #ddd;
}
.registration-form > form{
	padding: 25px;
}
.form-three{
	width: 70%;
}

.pa-about-contact{
	background: #5cb85c;
	margin-bottom:20px;
	border-radius: 50px;
}
.form-horizontal .radio{
	padding-top: 0px;
}
.radio table tbody tr td {
  display: inline-block;
  margin-top: 0px;
}
.radio table tbody tr td label {
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  padding: 0 10px 0 40px;
}
/* hide input */
.radio table tbody tr td input[type=checkbox]:empty,
.radio table tbody tr td input[type=radio]:empty {
	/*margin-left: -999px;*/
	opacity: 0;
}

/* style label */
.radio table tbody tr td input[type=checkbox]:empty ~ label,
.radio table tbody tr td input[type=radio]:empty ~ label {
	position: relative;
	float: left;
	line-height: 2em;
	/*text-indent: 3.25em;*/
	/*margin-top: 2em;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  color: #666;
}

.radio table tbody tr td input[type=checkbox]:empty ~ label:before,
.radio table tbody tr td input[type=radio]:empty ~ label:before  {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	content:'\2714';
	text-indent: .7em;
	color: #C2C2C2;
}

/* toggle hover */
.radio table tbody tr td input[type=checkbox]:hover:not(:checked) ~ label:before,
.radio table tbody tr td input[type=radio]:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.radio table tbody tr td input[type=checkbox]:hover:not(:checked) ~ label,
.radio table tbody tr td input[type=radio]:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.radio table tbody tr td input[type=checkbox]:checked ~ label:before,
.radio table tbody tr td input[type=radio]:checked ~ label:before {
	content:'\2714';
	text-indent: .7em;
	color: #bf8c07;
	background-color: #f9d77f;
}

.radio table tbody tr td input[type=checkbox]:checked ~ label,
.radio table tbody tr td input[type=radio]:checked ~ label {
	color: #000;
  border: 1px solid #f9d77f;
}

/* radio focus */
.radio table tbody tr td input:focus ~ label:before {
	/*box-shadow: 0 0 0 3px #999;*/
}

.radio table tbody tr td { padding-bottom:5px}

.submit-button {
  color: #fff;
  background: #55bd08!important;
}
.submit-button:hover, .submit-button:focus, .submit-button:active	{
	background: #57bf08;
	color: #fff;
}
label.error {
  color: #f55;
  margin-left: 20px;
  font-weight: normal;
}
label#fornominate-error {
    float: left;
    width: auto;
    border: none;
    padding: 0;
    position: absolute;
    right: 46px;
    top: -25px;
}
.captcha{
	min-height: 42px;
  margin-top: 32px;
}
input[type="file"] {
  display: block;
  width: 100%;
}
#register_user_type .radio {
    float: left;
    width: 100%;
}
span.error {
    color: #f55;
    width: 100%;
    float: left;
}
.submit-column {
    margin-top: 30px;
}
.submit-column p{
	margin-top: 18px;
}
.ph-code{
	padding: 6px;
}
.register-aafhar{
	margin-top: 18px;
  float: left;
}
a.f-password {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.login-form label.control-label {
    padding-top: 0;
}
.div-as-form  
{
      padding: 20px;
    display: block;
    margin-top: 0em;
}
.pa-awards_gramener
{
    padding-left:50px;
}
.pa-awards_gramener_float
{
    float:right;
}
.radio table
{
    width: 100%;
}
.margin-bottom-registrationForm
{
    margin-bottom: 10px!important;
}
.enter-Id-margin{
margin-left: 25px;
}
.contact-box {
    background: #F9F9F9;
    border-radius: 5px;
    border: solid 1px #ddd;
    padding: 10px;
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
    min-height: 126px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
.contact-us {
    width: 100%;
    float: left;
    margin: 30px auto 30px;
    text-align: center;
}
.pa-home.about_page {
    position: relative;
}
.pa-home {
    top: 0;
    padding: 25px 0;
    position: absolute;
}
.pa-awards-set {
    width: 100%;
    /* padding: 10px 0; */
    /* background: rgba(242, 242, 242, 0.7); */
    position: absolute;
    left: 0;
    text-align: left;
}
.nomination-head {
    text-align: center;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 35px;
    background: #efefef;
    margin-top: 0;
}
.myNomination {
    width: 100%;
    float: left;
    margin: 0px auto 50px;
}
.pa-view_detail {
    border-radius: 3px;
    color: #000;
    background: #f9d77f;
    padding: 4px 8px;
    font-size: 12px;
    text-transform: uppercase;
}
.register-detail ul {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #ccc;
}
.register-detail ul li {
    float: left;
    line-height: 25px;
    width: calc(100% - 100px);
    border-collapse: collapse;
    border: solid 1px #ccc;
    border-bottom: none;
    padding: 5px;
}
.register-detail ul li:first-child, .register-detail ul li:nth-child(2n+1) {
    width: 100px;
    border-right: none;
}
.float-right
{
    float:right;
}
.registration-form-table
{
    display: table;
}
.form-group div label sup
{
    color:Red;
}
.register-detail-success {
    width: 100%;
    text-align: center;
    border: solid 1px #cdcbcb;
    display: inline-block;
    margin: 20px 0;
    min-height: 160px;
}
.register-detail-success .img-box 
{
        display: block;
    margin: auto;
    float: left;
    min-height: 150px;
    width: 100%;
    line-height: 150px;
    border-right: solid 1px #cdcbcb;
    padding: 5px;
}
.register-detail-success p {
    border-bottom: solid 1px #cdcbcb;
    margin-bottom: 0;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    float: right;
    line-height: 28px;
}
.pdf-box iframe {
    width: 100%;
    height: 600px;
    border: solid 5px #339933;
}

.pdf-box {
    padding-top:25px;
}
.register-detail-success .img-box img {
    width: 100%;
}
.regis-pading-botom
{
    padding-bottom:25px;
}
.nomination-basic_detail {
    width: 60%;
    margin: 30px auto;
}

.nomination-basic_detail ul.nav.nav-tabs {
    padding: 40px 2px 0;
}
.pa-dropdown_box {
    /* position: absolute; */
    /* top: 70px; */
    /* right: 15px; */
	border:solid 1px #ddd;
    border-radius: 5px !important;
    background: #f9f9f9;
    /* padding: 40px; */
    z-index: 9999;
    width: 30%;
    /* max-height: 560px; */
    /* overflow: auto; */
    display: table;
    text-align: left;
}
.nomination-basic_detail {
    width: 60%;
    margin: 30px auto;
}
h4.nominate-tab_activeHead {
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}
.login_box h4 {
    width: 100%;
    float: left;
    margin-top: 0;
    padding: 20px 40px;
    color: #775602;
    background: #f9d77f;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
}

.radio div span input{
  display: inline-block;
  margin-top: 0px;
}
.radio div span label {
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  padding: 0 10px 0 40px;
}
/* hide input */
.radio div span input[type=checkbox]:empty,
.radio div span input[type=radio]:empty {
	/*margin-left: -999px;*/
	opacity: 0;
}

/* style label */
.radio div span input[type=checkbox]:empty ~ label,
.radio div span input[type=radio]:empty ~ label {
	position: relative;
	float: left;
	line-height: 2em;
	/*text-indent: 3.25em;*/
	/*margin-top: 2em;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  color: #666;
}

.radio div span input[type=checkbox]:empty ~ label:before,
.radio div span input[type=radio]:empty ~ label:before  {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	content:'\2714';
	text-indent: .7em;
	color: #C2C2C2;
}

/* toggle hover */
.radio div span input[type=checkbox]:hover:not(:checked) ~ label:before,
.radio div span input[type=radio]:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.radio div span input[type=checkbox]:hover:not(:checked) ~ label,
.radio div span input[type=radio]:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.radio div span input[type=checkbox]:checked ~ label:before,
.radio div span input[type=radio]:checked ~ label:before {
	content:'\2714';
	text-indent: .7em;
	color: #bf8c07;
	background-color: #f9d77f;
}

.radio div span input[type=checkbox]:checked ~ label,
.radio div span input[type=radio]:checked ~ label {
	color: #000;
  border: 1px solid #f9d77f;
}

/* radio focus */
.radio div span input:focus ~ label:before {
	/*box-shadow: 0 0 0 3px #999;*/
}
.radio_rbEarlierAwards table tbody tr td
{
	display:table-cell!important;
	    padding-left: 5px!important;
}

.radio_single div span label
{
	    margin-right: 10px!important;
}

.radio_rbEarlierAwards table
{
	margin-left: -3px!important;
}

.search-result {
    width: 100%;
    float: left;
    border: solid 1px #cdcdcd;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
}
	.search-result .img-box
	{
		width:100%;
		margin-bottom:10px;
	}
		.search-result .img-box img
		{
			width: 100%;
			min-height:200px!important;
			max-height:200px!important;
		}

.btn-form-color, .btn-form-color:hover, .btn-form-color:focus, .btn-form-color:active {
    background: #dddddd;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
}
. search-box-height
{
	position:relative!important;
	min-height:1px!important;
	padding-right:10px;
	padding-left:10px;
}
.addnew-btn {
    background: #55121e;
    color: #fff;
    padding: 7px 10px;
    display: inline-block;
    text-align: center;
    margin-top: 21px;
    float: left;
    border-radius: 5px;
    font-size: 14px;
}
.addnew-btn:hover{
  color: #fff;
}
.pa-button{
  border-radius: 5px;
  color: #fff;
  background: #0c9c47;
  padding: 8px 12px;
}
.pa-button:hover{
  background: #f9d77f;
  color: #000;
}
.pa-button:focus, .pa-button:active:focus{
  box-shadow: none;
  outline: none;
  border-color: none;
  color: #fff;
}
.contact-box p a:hover
{
    color: #23527c!important;
}
.text-align-right
{
    text-align: right;
}

.text-align-left
{
    text-align: left;
	margin-left:20px
}
.pa-back_btn {
    color: #000;
    background: #fef1cd;
    /* position: relative; */
}
.pa-img__box_awardsPadding
{
    padding-top:14px!important;
}
.pa-img__box_awardsPadding a
{
    line-height:1.4!important;
}
.op-Verify-padding
{
    padding-top:20px;
}
.bottom_buttonPad
{
    margin-right:15px;
}

.pa-img_Ani_box {
padding-top: 4px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 5px #a2a1a1;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
}
.pa-awards_Ani_box span {
	font: 700 14px 'Ubuntu';
	color: #000;
	margin-top: 10px;
	text-transform: uppercase;
	display: block;
}

.pa-img_Ani_box:hover 
{
    cursor:pointer;
padding-top: 1px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 7px #5cb85c;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
}
.pa-img_Ani_box img
{
height:88px;
width:88px;
}
.pa-img__box:hover {
cursor:pointer;
padding-top: 4px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: solid 7px #5cb85c;
	text-align: center;
	line-height: 91px;
	background: #fff;
	margin: auto;
}
