
/*body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  font-family: 'Segoe UI';
}*/

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  /*padding: 0px;*/
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  /*padding: 15px;*/
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  color: #181818;
  font: 700 20px 'Ubuntu';
  text-transform: uppercase;
  border: 1px solid #bcbcbc;
  border-top: 0px solid #bcbcbc;
  margin: 0px;
  padding: 10px 15px;
  /*border-bottom: none !important;*/
}
h2.resp-accordion a{
  color: #181818;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
  color: #55121e;
  position: relative;
  border-top: solid 5px #bcbcbc !important;
}
h2.resp-tab-active a{
  color: #55121e;
}
h2.resp-tab-active:before{
  content: '';
  width: 0;
  height: 0;
  left: 40%;
  top: 0;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-top: solid 10px #bcbcbc;
  position: absolute;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  /*width: 30%;*/
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 0 !important; /*15px 15px !important;*/
  margin: 0;
  cursor: pointer;
  float: none;
  margin-top: 10px;
}

.resp-vtabs .resp-tabs-container {
  /*padding: 0px;*/
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  /*width: 68%;*/
  min-height: 250px;
  /*border-radius: 4px;*/
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 0 !important; /*14px 15px 15px 14px !important;*/
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
  display: none;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

/*h2.resp-tab-active { background: #DBDBDB !important; }*/

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #bcbcbc !important; }
h2.resp-accordion.resp-tab-active {
  border-top: solid 5px #bcbcbc !important;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block;     float: left;
    width: 100%;}

.resp-vtabs .resp-tab-content { border: 1px solid #bcbcbc; float: left;
    padding: 20px;}

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
  padding: 0;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
