#demoStyle {
	text-align: center;
	position: relative;
	margin-top: 20px
}

#demoStyle fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position: relative
}

.finish {
	text-align: center
}

#demoStyle fieldset:not(:first-of-type) {
	display: none
}

#demoStyle .previous-step, .next-step {
	width: 100px;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px 10px 0px;
	float: right
}

.form, .previous-step {
	background: #616161;
}

.form, .next-step {
	background: #2F8D46;
}

#demoStyle .previous-step:hover,
#demoStyle .previous-step:focus {
	background-color: #000000
}

#demoStyle .next-step:hover,
#demoStyle .next-step:focus {
	background-color: #2F8D46
}

.text {
	color: #2F8D46;
	font-weight: normal
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #2F8D46
}

#progressbar li {
	list-style-type: none;
	font-size: 14px;
	width: 20%;
	float: left;
	position:sticky;
	font-weight: 400
}

#progressbar #step1:before {
	content: "1"
}

#progressbar #step2:before {
	content: "2"
}

#progressbar #step3:before {
	content: "3"
}

#progressbar #step4:before {
	content: "4"
}
#progressbar #step5:before {
	content: "5"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 20px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: #2F8D46
}

.progress {
	height: 20px
}

.progress-bar {
	background-color: #2F8D46
}
.nomh2{
font-size: 17px;
    font-weight: bold;
	text-align:left;
	text-decoration:underline;
	
}
.nomh2-head{
font-size: 25px;
}
.form-group label{
font-size:15px;
}
.custom-file label{
text-align:left;
font-size:10px;
}
.textAr{
line-height:none !important;
height:125px !important;
}
.fv-plugins-message-container{
text-align:left;
}
.login-card .form-control {
margin-bottom:0px !important;
}