@charset "utf-8";
/* CSS Document */

/*===== min-width 1025 - max-width 1199 =====*/
@media (max-width: 1340px){
  
}

/*===== min-width 1025 - max-width 1199 =====*/
@media (max-width: 1199px){
	.pa-navbar .navbar-nav > li > a{font-size: 12px;padding: 7px 10px;}}
	.pa-caption h3 span{font-size: 40px; margin: 0 0 10px;}
	.pa-caption a{font-size: 16px;}
	.pa-caption{bottom: 150px;}
	.pa-tabs-img{width: 50%;  margin-bottom: 13px;}
	.pa-tabs-inner_content h3{font-size: 18px; margin-top: 0;}
	.pa-help-text span{font-size: 26px;}
	.pa-photo h4{font-size: 30px;}
	.pa-photo ul li{width: 24.6%;}
	.bpage-title h2{font-size: 34px;}
	.pa-help-contact h4{font-size: 42px;}
	.pa-help-contact p{font-size: 20px; line-height: inherit;}
	/*a.addnew-btn{padding: 12px 7px;font-size: 12px;}*/
}

/*===== min-width 768 - max-width 1024 =====*/
@media (max-width: 1024px){
	.pa-navbar .navbar-nav > li > a{font-size: 12px;}
	.pa-awards__box{width: auto;margin-right: 15px;}
	.pa-first-award{margin-right: 15px;}
	.pa-awards-set{position: relative;float: left;}
	.pa-caption{bottom: 20px;}
	.pa-tabs-img{width: 100%;}
	.pa-help-text span{font-size: 20px;}
	.pa-help-contact h4{font-size: 40px;}
	.pa-help-contact p{font-size: 24px;}
	.pa-photo h4 { font-size: 22px;}
	.pa-photo ul li {width: 24.5%;}
	.pa-quick_links li a{font-size: 12px;padding: 0 5px;}
	.pa-social__links li a{font-size: 12px;padding: 0 7px;}
	.pa-copyright p{font-size: 12px;}
	.pa-tabs li.resp-tab-active{width: 251px;}
	.pa-tabs li{width: 250px;}
	.pa-tab__content{width: calc(100% - 250px);}
	.bpage-title {bottom: 0px;}
	.bpage-title h2{font-size: 32px;}
}
@media (min-width: 992px) and (max-width: 1024px){
	.pa-navbar .navbar-nav > li > a{font-size: 12px;padding: 7px 10px;}
	.bpage-title h2{font-size: 32px;}
	.registration-form{width: 90%;}
}
@media (max-width: 991px){
    .social{display: none !important;}
	.dash-bar p{text-align:center;padding:5px 0px}
	.navbar-toggle { display: block;}
	.pa-header .collapse {display: none !important;}
	.collapse.in{display: block !important;}
	.navbar-collapse {position: absolute;width: 240px; background: #339933; right: 0; border-radius: 5px;z-index: 9999;top: 45px;}
	.navbar-nav > li {float: left;width: 100%;}
	.navbar-right{margin-right: 0;}
	.pa-navbar .navbar-nav > li > a {font-size: 14px; padding: 8px}
  .pa-navbar .navbar-nav > li > a:hover {background: transparent;color: #313131;}
  .pa-navbar .navbar-nav > li.active > a, .pa-navbar .navbar-nav > li.active > a:hover {background: transparent; border-color: transparent; color: #313131;}
	.bpage-title h2{font-size: 30px; margin: 12px 0;}
	.pa-awards__box{width: 150px;}
	.pa-first-award {width: auto;margin-right: 15px;}
	.pa-help-text span {font-size: 20px;}
	.pa-help-contact p {font-size: 16px;line-height: inherit;}
	.pa-help-contact h4 {font-size: 30px;line-height: inherit;}
	.confirm_otp-form{width: 50%;}
	.login-form{width: 80%;}
	.registration-form{width: 90%;}
	.form-control{margin-bottom: 15px;}
	.login-form .form-group { margin-bottom: 0 !important;}
	.captcha{margin-top: 47px;}

/*===== min-width 600 - max-width 767 =====*/
@media (max-width: 767px){
  .pa-header.pa-fade{min-height: 120px;}
  .pa-header .col-md-4.col-sm-4.col-xs-12{float: left;width: auto;}
  .pa-header .col-md-8.col-sm-8.col-xs-12{float: right;width: auto;}
  .navbar-collapse {position: absolute;width: 240px; background: #339933; right: 0; border-radius: 5px;z-index: 9999;top: 45px;}
  .pa-navbar .navbar-nav > li > a {font-size: 14px; padding: 8px}
  .pa-navbar .navbar-nav > li > a:hover {background: transparent;color: #313131;}
  .pa-navbar .navbar-nav > li.active > a, .pa-navbar .navbar-nav > li.active > a:hover {background: transparent; border-color: transparent; color: #313131;}
  .view_gallery a{font-size: 13px;padding: 10px 10px;}
  .view_gallery {float: right;margin-top: 0;position: absolute;top: -80px;right: 15px;}
  .pa-help-text{text-align: center;}
  .pa-photo ul li { width: 49.6%;}
  .bpage-title h2 {font-size: 30px; margin: 12px 0;}
  .confirm_otp-form{width: 60%;}
	.login-form{width: 80%;}
	/*.form-group {margin-bottom: 0;}*/
	input[type="file"]{margin-bottom: 15px;}
	.registration-form{width: 90%;}
	.form-three{width: 90%;}
	a.addnew-btn{padding: 10px 20px; margin-top: 0; font-size: 14px;float: right;}
	.captcha{margin-top: 0;}
	.login-form .form-group { margin-bottom: 0 !important;}
}
@media (max-width: 700px){
	.pa-header{padding: 6px 0; position: relative;}
	.pa-header.pa-fade{background:none !important; min-height: auto;}
	.pa-awards-set{position: relative;float: left;}
}


/*===== min-width 480 - max-width 599 =====*/
@media (max-width: 599px){
 .pa-caption h3 span { font-size: 28px; margin: 0 0 10px;}
 .pa-caption a { font-size: 12px;}
 .pa-caption { bottom: 10px;}
 .view_gallery {float: right;margin-top: 20px; position: relative; top: 0; right: 0;margin-bottom: 20px;}
 .pa-photo h4 {font-size: 19px;}
  .pa-photo ul li { width: 49.5%;}
  .pa-footer img {    width: 100%;}
  .bpage-title h2 { font-size: 24px;}
  .bpage-title {bottom: 0px;}
  .confirm_otp-form{width: 70%;}
	.login-form{width: 80%;}
	.registration-form{width: 90%;}
	.form-three{width: 90%;}
}
/*===== min-width 320 - max-width 479 =====*/
@media (max-width: 479px){
  .pa-header.pa-fade{/*position: relative*/;background: #000;z-index: 9;}
  .pa-caption a {font-size: 10px;padding: 9px 9px;}
  .pa-caption{bottom: 5px;}
  .pa-caption h3 span {font-size: 19px; margin: 0 0 10px;line-height: 25px;}
  .pa-caption h3{margin: 0;}
  .pa-awards__box{width: 100%; margin-right: 0; margin-bottom: 15px;}
  .pa-photo ul li { width: 100%;}
  .bpage-title {bottom: 0px;}
  .bpage-title h2 {font-size: 16px;}
  .navbar-toggle{margin-right: 5px;}
  .pa-header .col-md-4.col-sm-4.col-xs-12 { float: left; width: 85%;}
  .pa-header .col-md-8.col-sm-8.col-xs-12 {float: right;width: auto;padding: 0;}
  .pa-any__query{padding: 25px 0;}
  .pa-help-text{padding: 0;}
  .confirm_otp-form{width: 90%;}
	.login-form{width: 90%;}
	.registration-form{width: 90%;}
	.form-three{width: 90%;}
	label.error{float: right; margin-left: 0;}
	.nomination-title{font-size: 16px;}
	label#fornominate-error{position: relative;right: 0; top: 0;}
	.submit-button { float: left;padding: 10px 15px !important;margin-right: 8px !important;}
	.login-form .form-group { margin-bottom: 0 !important;}
}
@media (max-width: 360px){
	.btn-form-color, .btn-form-color:hover, .btn-form-color:focus, .btn-form-color:active {padding: 10px 20px;}
}