﻿@charset "utf-8";
/* CSS Document */
/*custom css file*/

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img 
{
    display: block;
    max-width: 75%;
    height: auto;
}
.s-logo {
    display: none;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

/*.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    padding-top: 0 rem !important;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav {
    float: left;
    margin: 0;
	flex-direction: row;
	
}
.navbar-toggle {
    display: none !important;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
}
.collapse {
    display: none;
}
.navbar-right {
    float: left !important;
    margin-right: -15px;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}*/

.home-head h1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 0px;
    color: #339933;
}
.row
{
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 0px !important;
    padding-left: 0px !important;
       
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pa-awards__box1 span
{
    font-size: 14px !important; 
}
/* .navbar {
   
    display: block !important;
} */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 40px !important; 
    /* margin-bottom: 40px !important;  */
}

.slection-nav
{
    font-size: 14px !important;
}

.h2, h2 {
    font-size: 1.5rem!important;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }