@font-face
{
font-family:OpenSans-CondLight;
src: url(../font/OpenSans-CondLight.ttf);
}
@font-face
{
font-family:OpenSans-Light;
src: url(../font/OpenSans-Light.ttf);
}
@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.6.1');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
body{
/*font-family:OpenSans-Light;*/
}
button:focus {outline:0 !important;}
p{
text-align:justify;
}
#mob{
display:none;
}
.sp_li{
margin:0px;
}
#list-com-txt{
float:left;
width:100%;
}
.searh-page p{
font-family: sans-serif;
}
.bedrooms h3{
 font-size: 13px;
 font-weight:bold;
 margin-top:0px;
}
.bedrooms a{
 font-size: 10px;
}
.bedrooms{
 font-size: 10px;
  margin-left: 0px;
    margin-right: 0px;
	 font-weight:bold;
}
#searchResultPlusImage {
    border-bottom: 1px dashed #666666;
    float: left;
    height: 10px;
    width: 100%;
}
#latest {
    border: 1px solid #d0d0d0;
    float: left;
    height: auto !important;
    margin-top: 0.8%;
    min-height: 290px;
    width: 100%;
	margin-bottom:8px;
	margin-left:5px;
}
#latest #border {
    float: left;
    height: 150px;
    margin-left: 1%;
    margin-top: 1%;
    width: 98%;
}
#latest #border #image {
    float: left;
    height: 150px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    width: 99%;
}
#latest #border #image img {
    height: 100%;
    width: 100%;
}
.button_chat_booking {
    background-color: #FF843A;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px;
	float:right;
}
.cha-link a:hover {
    color: #ffffff;
	font-weight:bold;
	text-decoration:none;
}
.tooltip {
    position: relative;
    display: inline-block;
	opacity: 100;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#home_cnt{
background-color:#FFFFFF;
margin-top: 350px;
margin-bottom:20px;
}
#home_cnt .col-sm-3{
padding-left: 5px;
padding-right: 5px;
padding-top:5px;
}
#latest #cnt_d {
    float: left;
    min-height: 85px;
	height:auto !important;
    margin-left: 0.5%;
    margin-top: 0.5%;
    width: 99%;
}
#latest #cnt_d #title {
    float: left;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-top: 3%;
    min-height: 10px;
    width: 98%;
}
#latest #cnt_d #title h3 {
font-family:OpenSans-CondLight;
    font-size: 19px;
	margin:0px;
	/*font-weight:bold;*/
}
#latest #cnt_d #title a {
    text-decoration: none;
}
#latest #cnt_d #title a:hover {
    text-decoration:underline;
}
#latest #cnt_d p {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1%;
	margin-bottom:0px;
}
#latest #cnt_d h3 {
    color: #000000;
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-top: 3%;
    min-height: 10px;
    width: 98%;
}
#latest #cnt_dd {
    float: left;
    height: 25px;
    margin-left: 0.5%;
    width: 99%;
}
#latest #cnt_dd #price {
    float: left;
    height: 25px;
    margin-right: 1%;
    width: 95%;
}
#latest #cnt_dd #price h4 {
    float: left;
    font-size: 16px;
	margin:0px;
    margin-right: 5%;
	font-weight:bold;
	font-size:19px;
}
#latest #cnt_dd #price img {
    float: left;
    margin-right: 2%;
	margin-left: 2%;
}
.form_inner{
float:left;
width:45%;
height:auto;
margin-top:20px;
font-weight:bold;
color:#CCCCCC;
padding:5px;
}
.typeahead, .tt-query, .tt-hint {
width: 100%;
border:none;
border-bottom:1px solid #CCCCCC;
}
#submit-ser{
border:none;
background-color:#FFFFFF;
font-size:20px;
position:absolute;
color:#CCCCCC;
margin-top:20px;
margin-left:-30px;
}
#footer {
    background-color: #e2e2e2;
}
#footer #left {
    float: left;
    height: auto;
    width: 25%;
}
#footer #left a {
    color: #333333;
    float: left;
    font-size: 13px;
    margin-left: 3%;
    margin-top: 2%;
    text-decoration: none;
    width: 97%;
}
#footer #left a:hover {
    color: #333333;
    text-decoration:underline;
}
#footer #middle {
    float: left;
    height: auto;
    width: 25%;
}
#footer #middle a {
    color: #333333;
    float: left;
    font-size: 13px;
    margin-left: 3%;
    margin-top: 2%;
    text-decoration: none;
    width: 97%;
}
#footer #middle a:hover {
    color: #333333;
    text-decoration:underline;
}
#footer #middle #so_icon {
    width: 32px;
}
#footer #middle #so_icon img {
    height: 30px;
    width: 30px;
}
#footer p {
    font-size: 13px;
    margin-left: 1%;
    margin-top: 0.5%;
	width: 100%;
	float:left;
}
#footer p a {
    color: #333333;
    text-decoration: none;
}
#footer p a:hover {
    color: #333333;
    text-decoration:underline;
}
#inner-blank{
height:63px;
}
#header-bottom{
border-bottom:#E3E3E3 1px solid;
}
#list-head h1{
font-family:OpenSans-CondLight;
color:#009054;
float:left;
font-size:27px;
margin-top:10px;
}
#list-heads h1{
font-family:OpenSans-CondLight;
color:#009054;
font-size:27px;
margin-top:10px;
}
#list-heads p{
font-size:13px;
margin-top:25px;
}
#list-head a {
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 18px;
    text-decoration: none;
	margin-left:10px;
}
#list-head a:hover {
    text-decoration:underline;
}
#list-head h4{
 color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
}
#list-head .m_menu_head {
    float: left;
    width: 100%;
}
#list-head .m_menu_head
{
margin-bottom:10px;
margin-top:0px;
}
#list-head .m_menu_head a{
    color:#00904A;
	text-decoration:none;
	margin-left:0px;
	margin-top:0px;
	font-size:13px;
}
#list-head .m_menu_head a:hover{
    color: #4d4d4d;
	text-decoration:none;
	cursor:pointer;
}
#list-search input {
    float: left;
    color:#000000;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    margin: 6px 0 0 0;
    width:100%;
	border:#E3E3E3 1px solid;
	background-color:#E3E3E3;
	border-radius:3px;
	padding:5px;
}
#list-search-de input {
    float: left;
    color:#000000;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    margin: 6px 0 0 0;
    width: 75%;
	border:#E3E3E3 1px solid;
	background-color:#E3E3E3;
	border-radius:3px;
	padding:5px;
}
#list-search button {
    background-color: #019555;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    float: right;
    font-weight: bold;
    height: 44px;
    margin: 6px 0 0 4px;
    width: 23%;
}
#list-search-de button {
    background-color: #019555;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    float: left;
    font-weight: bold;
    height: 44px;
    margin: 6px 0 0 4px;
    width: 23%;
}
#list-search #se_msg {
    color: #009054;
    float: left;
    font-size: 11px;
    height: 25px;
    margin: 4px 0 0 2px;
    width: 100%;
}
#list-share{
float:left;
width:100%;
height:auto;
}
#list-share img{
float:right;
margin-left:6px;
}
#list .col-sm-4{
padding-left:0px;
padding-right:10px;
}
#list .col-sm-3{
padding-left:0px;
padding-right:10px;
padding-bottom:8px;
}
#navigation{
float: left;
    text-align: center;
    width: 100%;
}
#list-com-txt p{
font-size:13px;
}
#list-inner h2{
font-family:OpenSans-CondLight;
font-size:22px;
color: #009054;
}
#list-inner p{
font-size:13px;
text-align:justify;
}
#list-sort .col-sm-12{
padding-left:0px;
}
#list-sort #ser{
margin-bottom:4px;
font-size:12px;
font-weight:bold;
color: #666666;
}
#list-sort #ser #so{
margin-top:8px;
float:left;
}
#list-sort #ser span{
color: #00904a;
}
#list-sort #ser a{
color: #666666;
}
#ser-list{
float:left;
width:99%;
min-height:10px;
height:auto !important;
border: 1px solid #e3e3e3;
padding:10px;
padding-bottom:0px;
margin-bottom:5px;
border-radius:5px;
}
#ser-list p{
font-weight:bold;
font-size:13px;
color: #666666;
}
#ser-place{
float:left;
width:99%;
min-height:10px;
height:auto !important;
border: 1px solid #e3e3e3;
padding:10px;
margin-bottom:5px;
}
#ser-place p{
font-weight:bold;
font-size:13px;
color: #666666;
}
#ser-place #list_state {
    background-color: #00904a;
    border-radius: 5px;
    float: left;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    min-width: 6%;
    width: auto !important;
}
#ser-place #list_state p {
    color: #ffffff;
    padding: 3px 10px;
	font-weight:normal;
	font-size:13px;
	width: 100%;
}
.panel-title a {
background: url("../images/design/arrow-down.png");
background-repeat:no-repeat;
background-position: 7% 50%;
font-size:13px;
font-weight:bold;
color: #666666;
}
.fb-share-button{
background: url("../images/design/list-fb.png");
background-repeat:no-repeat;
height:27px;
width:27px;
}
.pluginButtonImage{
display:none;
}
.panel-title a:hover {
text-decoration:none;
}
.panel-title .collapsed {
background: url("../images/design/arrow-up.png");
background-repeat:no-repeat;
background-position: 7% 50%;
}
.panel-body p {
font-size:13px;
font-weight:bold;
color: #666666;
}
.panel-body p a {
color: #666666;
}
#navigation-top{
float:right;
}
#navigation-top .pagination {
margin:0px;
}
#list-sort #ser #navigation-top .pagination a{
color: #019555;
}
#list-inner .col-sm-12{
padding:0px;
}
#dis_div{
display:none;
}
#showLeft{
background: url("../images/design/mob_list_menu.jpg");
background-repeat:no-repeat;
width:47px;
height:42px;
float:left;
border:none;
}
#space-left{
float:left;
height:65px;
width:100%;
}
#showLeftss{
float:left;
width:100%;
height:16px;
margin-top:10px;
margin-bottom:10px;
}
#showLeftt{
background: url("../images/design/close-left.png");
background-repeat:no-repeat;
width:16px;
height:16px;
float:right;
border:none;
}
#xx{
height:100px;
}
#gallery{
margin-bottom:15px;
}
#details-pro h3{
color:#019555;
font-size:20px;
font-family:OpenSans-CondLight;
margin-top:0px;
margin-bottom:5px;
}
#tab-space-box{
float:left;
width:100%;
min-height:33px;
height:auto !important;
}
#tab-space{
float:left;
width:100%;
height:33px;
margin-top:15px;
background-color:#EAEAEA;
border:#C8C8C8 1px solid;
margin-bottom:15px;
}

#tab-space-box .nav-tabs > li.active > a, #tab-space-box .nav-tabs > li.active > a:focus, #tab-space-box .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color:#D8D8D8;
	border-color: #D8D8D8 #D8D8D8 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
	
}
#tab-space-box .nav-tabs > li > a {
border-radius:0px;
}
#tab-space-box .nav > li > a {
    display: block;
    padding: 4.5px 15px;
    position: relative;
	border-right:#c8c8c8 1px solid;
	margin-right:0px;
	color: #555;
	font-weight:bold;
	font-size: 13px;
}
.tab-content{
float:left;
width:100%;
min-height:100px;
height:auto !important;
}
.tab-pane-box{
float:left;
width:100%;
min-height:50px;
height:auto !important;
}
#tab-space-box .responsive-tabs-container[class*="accordion-"] .accordion-link {
float:left;
width:100%;
font-weight: bold;
color: #555;
}
.aminities-list{
padding-bottom:15px;
padding-top:15px;
}
.aminities-list .grouped_properties{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -4px top; 
-webkit-appearance: none;
}
.aminities-list p{
font-size: 14px;
margin-top: 14px;
}
.aminities-list .car_parking{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -56px top; 
-webkit-appearance: none;
}
.aminities-list .swimming_pool{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -106px top;
-webkit-appearance: none; 
}
.aminities-list .pool_heating{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -160px top; 
-webkit-appearance: none;
}
.aminities-list .wheelchair_access{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -216px top; 
-webkit-appearance: none;
}
.aminities-list .pet_friendly{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -220px top; 
-webkit-appearance: none;
}
.aminities-list .tv_with_premium_channels{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -163px top; 
-webkit-appearance: none;
}
.aminities-list .ac{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -108px top; 
-webkit-appearance: none;
}
.aminities-list .temperature_control{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -60px top; 
-webkit-appearance: none;
}
.aminities-list .wifi{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -6px top; 
-webkit-appearance: none;
}
.aminities-list .gym{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -4px center; 
-webkit-appearance: none;
}
.aminities-list .hc_water_in_bathroom{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -52px center; 
-webkit-appearance: none;
}
.aminities-list .kitchen{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -102px center;
-webkit-appearance: none; 
}
.aminities-list .laundry{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -155px center; 
-webkit-appearance: none;
}
.aminities-list .power_backup{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -218px center;
-webkit-appearance: none; 
}
.aminities-list .room_service{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -275px center; 
-webkit-appearance: none;
}
.aminities-list .bar{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -161px center; 
-webkit-appearance: none;
}
.aminities-list .barbecue_grill{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -116px center; 
-webkit-appearance: none;
}
.aminities-list .campfire{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -57px center; 
-webkit-appearance: none;
}
.aminities-list .golf{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -13px center; 
-webkit-appearance: none;
}
.aminities-list .skiing{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left 0px bottom; 
-webkit-appearance: none;
}
.aminities-list .boating{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -52px bottom; 
-webkit-appearance: none;
}
.aminities-list .refrigerator{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -161px bottom; 
-webkit-appearance: none;
}
.aminities-list .bedspreads{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -114px bottom; 
-webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .aminities-list .grouped_properties{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -4px top; 
-webkit-appearance: none;
}
.aminities-list p{
font-size: 14px;
margin-top: 14px;
}
.aminities-list .car_parking{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -56px top; 
-webkit-appearance: none;
}
.aminities-list .swimming_pool{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -106px top;
-webkit-appearance: none; 
}
.aminities-list .pool_heating{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -160px top; 
-webkit-appearance: none;
}
.aminities-list .wheelchair_access{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -216px top; 
-webkit-appearance: none;
}
.aminities-list .pet_friendly{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -220px top; 
-webkit-appearance: none;
}
.aminities-list .tv_with_premium_channels{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -273px top; 
-webkit-appearance: none;
}
.aminities-list .ac{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -332px top; 
-webkit-appearance: none;
}
.aminities-list .temperature_control{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -381px top; 
-webkit-appearance: none;
}
.aminities-list .wifi{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -434px top; 
-webkit-appearance: none;
}
.aminities-list .gym{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -4px center; 
-webkit-appearance: none;
}
.aminities-list .hc_water_in_bathroom{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -52px center; 
-webkit-appearance: none;
}
.aminities-list .kitchen{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -102px center;
-webkit-appearance: none; 
}
.aminities-list .laundry{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -155px center; 
-webkit-appearance: none;
}
.aminities-list .power_backup{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -218px center;
-webkit-appearance: none; 
}
.aminities-list .room_service{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -275px center; 
-webkit-appearance: none;
}
.aminities-list .bar{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -277px center; 
-webkit-appearance: none;
}
.aminities-list .barbecue_grill{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -323px center; 
-webkit-appearance: none;
}
.aminities-list .campfire{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -379px center; 
-webkit-appearance: none;
}
.aminities-list .golf{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: right -421px center; 
-webkit-appearance: none;
}
.aminities-list .skiing{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left 0px bottom; 
-webkit-appearance: none;
}
.aminities-list .boating{
float:left;
width:50px;
height:50px;
background: url("../images/design/icons_hr.png");
background-position: left -52px bottom; 
-webkit-appearance: none;
}
}
#details-enquiry{
border: 1px solid #DFDFDF;
}
#details-enquiry h6{
color:#019555;
font-size: 14px;
font-weight: bold;
}
#details-enquiry h4 span{
font-size: 13px;
color: #333;
}
label {
font-size:12px;
}
.form-group .left-6{
padding-left:0px;
}
.form-group .right-6{
padding-right:0px;
}
.form-group .left-9{
padding-left:0px;
}
.form-group .right-3{
padding-right:0px;
}
#form-group{
margin-bottom:0px;
}
.btn {
padding: 6px 36px;
font-weight:bold;
margin-bottom:20px;
}
.pro-dis-mob{
display:none;
}
.form-space{
margin-top:50px;
}
#customer {
    background-color: #008f49;
    border-radius: 10px;
    min-height: 85px;
	height:auto !important;
    margin-top: 14%;
    width: 100%;
	float:left;
	margin-bottom:20px;
}
#customer h2 {
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    margin-left: 7%;
    margin-top: 3%;
}
#customer h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    margin-left: 7%;
    margin-top: 1%;
}
#customer h3 a {
    color: #ffffff;
    font-weight: normal;
    text-decoration: underline;
}
#news h3{
font-size:13px;
color: #666666;
margin-bottom:5px;
font-weight:bold;
}
#news{
margin-top:20px;
}
#news span{
float: left;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
	margin-bottom:10px;
}

#news h3 a{
color: #666666;
}
.account_menu{
background: url("../images/design/mob_list_menu.jpg");
background-repeat:no-repeat;
width:47px;
height:42px;
float:left;
border:none;
}
.shape {
    border-style: solid;
     border-width: 0 115px 72px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}
.listing {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}
.listing:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.listing-radius {
    border-radius: 7px;
}
.listing-danger {
    border-color: #d9534f;
}
.listing-danger .shape {
    border-color: transparent #d9533f transparent transparent;
}
.listing-success {
    border-color: #5cb85c;
}
.listing-success .shape {
    border-color: transparent #5cb75c transparent transparent;
}
.listing-default {
    border-color: #999999;
}
.listing-default .shape {
    border-color: transparent #999999 transparent transparent;
}
.listing-primary {
    border-color: #428bca;
}
.listing-primary .shape {
    border-color: transparent #318bca transparent transparent;
}
.listing-info {
    border-color: #5bc0de;
}
.listing-info .shape {
    border-color: transparent #5bc0de transparent transparent;
}
.listing-warning {
    border-color: #f0ad4e;
}
.listing-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
}
.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}
.listing-content {
    padding: 0 20px 10px;
}
.enq-list h3{
font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
	color: #019555;
	font-weight:bold;
}
.enq-list img{
width:75px;
height:75px;
float:left;
margin-bottom:10px;
}
.enq-list p{
float:left;
margin-left: 10px;
width: 51%;
}
.pull-rights{
font-size: 27px;
margin-left: 72px;
margin-top: 69px;
color: #019555;
}
.pull-rights-images{
font-size: 20px;
text-align: right;
    width: 83%;
margin-top: 105px;
color: #FF0000;
position:absolute;
}
.pull-rights-imagess{
font-size: 20px;
text-align: right;
    width: 68%;
margin-top: 105px;
color:#FF0000;
position:absolute;
}
.pull-rights-delete{
font-size: 20px;
text-align: right;
    width: 80%;
margin-top: 105px;
color: #FF0000;
position:absolute;
}
.pull-rights-listing{
font-size: 27px;
margin-left: 80px;
margin-top: 71px;
color: #019555;
}
.pull-rights-listings{
font-size: 27px;
margin-left: 38px;
margin-top: 90px;
position: absolute;
color: #019555;
}
.pull-rights-image{
font-size: 20px;
color: #019555;
margin-right:10px;
}
.page-header h1{
margin-top:0px;
margin-bottom:0px;
font-size:29px;
}
.enq-modal-header h4{
margin-bottom:20px;
margin-top:10px;
color: #019555;
}
.model-im .img{
width:20%;
height:15%;
float:left;
margin-bottom:20px;
}
.p-p{
margin-left:10px;
width:40%;
float:left;
}
.p-i{
margin-left:10px;
width:40%;
float:left;
font-size:11px;
}
.p-h3{
margin-left:10px;
margin-top:0px;
font-size:20px;
color: #019555;
width:40%;
float:left;
}
.pop-head{
float:left;
}
.modal-body h4{
margin-top:10px;
margin-bottom:10px;
color: #019555;
width: 100%;
float:left;
}
.modal-line{
border-bottom: 1px solid #eee;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.btn-chat{
background-color:#019555;
}
.btnn {
    font-weight: bold;
    margin-bottom: 119px;
    padding: 6px 36px;
	color:#FFFFFF;
	border:none;
	border-radius:0px;
}
.btnn1 {
    font-weight: bold;
    margin-bottom: 38px;
    padding: 6px 36px;
	color:#FFFFFF;
	border:none;
	border-radius:0px;
}
.chat-note p{
margin-top:10px;
float:left;
width:100%;
}
.model-p p{
padding:5px;
}
.fir{
width:30%;
float: left;
}
.sec{
width:60%;
float: left;
}
.panel-dd{
float: left;
margin-top:20px;
}
.page-h{
margin:0px;
margin-bottom:40px;
}
.shape-text a{
color:#FFFFFF;
}
.shape-text a:hover{
color:#FFFFFF;
text-decoration:none;
}
.originalTextareaInfo{
float:left;
min-width:100px;
width:auto !important;
font-size:12px;
color:#666666;
}
.img-btn{
margin-top:15px;
}
#qwqw {
    float: left;
    height: 40px;
    margin-top: 25px;
    width: 100%;
}
#hhh {
    float: left;
    height: auto !important;
    min-height: 50px;
    width: 100%;
}
#qwqwqw {
    height: auto !important;
    min-height: 15px;
    width: 100%;
}
#qwqwqw a {
    text-decoration: none;
}
.margin-p{
margin-top:15px;
margin-bottom:15px;
float: left;
}
.list-cntt{
padding-left:0px;
}
.list-cntt h4{
 color: #00904a;
}
.no-result{
text-align:center;
color: #00904a;
padding-top:100px;
padding-bottom:100px;
}
.map_hide{
display:none;
}
.map_hide1{
display:block;
}
#list h5{
 border-bottom: 1px solid #000000;
    color: #00904a;
	font-weight:bold;
}
#list-sort p{
float:left;
width:99%;
margin-left:0px;
}
.error h1{
 color: #ff6b04;
    font-family: "Comic Sans MS",Arial;
    font-size: 40px;
    margin-top: 10px;
	text-align:center;
}
.error h5 {
    color: #ff6b04;
    font-family: "Comic Sans MS",Arial;
    font-size: 20px;
    margin-top: 10px;
	text-align:center;
}
.error h5 a {
    color: #ff6b04;
    text-decoration: none;
}
.twitter-typeahead{
width: 90%;
}
#result_3{
float:left;
width:100%;
min-height:53px;
height:auto !important;
border: 1px solid #ccc;
margin-top:20px;
margin-bottom:10px;
border-radius:5px;
text-align:right;
padding:15px;
}
#result_3 span{
color:#00803F;
font-size:21px;
font-weight:bold;
margin-left:5px;
}
.tvl_msg{
float:right;
margin-right:20px;
}
#new_msg {
    background-color: #FA700B;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    margin-left: 130px;
    margin-top: -20px;
    position: absolute;
	text-align:center;
    width: 25px;
}
.user-profile img {
    border-radius: 50%;
    height: 29px;
    margin-right: 10px;
    width: 29px;
}
.user-profile_review img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.user-profile_review {
	font-size:10px;
	font-weight:bold;
	color:#333333;
	float:left;
	text-align:center;
}
.user-profile_review:hover {
	color:#333333;
	text-decoration:none;
}
.trl_booking{
padding:0px;
}
#tvl_menu_title{
float:left;
width:100%;
height:auto;
padding:10px;
padding-top:0px;
text-align:center;
font-size:17px;
color:#666666;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.fa-rupee:before,.fa-inr:before{content:"\f156"}
.br-widget_re a {
    background-color: #bef4dd;
    display: block;
    float: left;
    height: 15px;
    margin: 1px;
    padding: 5px 0;
    text-align: center;
    width: 12px;
}
.br-widget_re .br-selected {
    background-color: #019555;
} 
.review_head h5{
color: #019555;
font-weight:bold;
margin:0px;
}
.review_cnt{
font-size:12px;
}
.btn-rev{
float:right;
margin-top:-22px;
}
.news_pro_hd{
color: #009054;
}
.news_pro{
padding-left:0px;
padding-right:0px;
}
#nw_more {
    float: right;
    margin-top: 10px;
    text-align: right;
    width: 100%;
	font-size:14px;
	margin-bottom:10px;
}
.menu-mob{
display:none;
}
@media (max-width:1350px){
.menu-des{
display:none;
}
.menu-mob{
display:block;
float:right;
text-align:right;
}
.form_inner {
    width: 90%;
}
}
@media (max-width:990px){
#tab-space{
float:left;
width:100%;
min-height:33px;
height:auto !important;
margin-top:15px;
background-color:#FFFFFF;
border:none;
margin-bottom:15px;
}
}
@media (max-width:800px){
.resultblock{
width:50%;
float:left;
}
}
@media (max-width:765px){
.dsds{
width:100%;
text-align:right;
}
.form_inner {
    width: 83%;
	margin-bottom:10px;
	margin-top:10px;
}
.twitter-typeahead {
    width: 100%;
}
#submit-ser {
    margin-top: 10px;
    margin-left: -30px;
}
#list-head h1 {
    margin-top: 55px;
	margin-bottom:0px;
}
.sp_li{
margin:15px;
}
.art-ser{
margin-top:15px;
}
.btn-rev{
float:right;
margin-top:6px;
}
#new_msg {
    margin-left: 150px;
}
.tvl_msg{
float:none;
margin-right:20px;
}
.no_img_acc{
display:none;
}
.srickBlock{
display:none;
}
.no_img_acc_sp{
padding-left: 25px;
}
.bedrooms{
margin-top:15px;
}
#details-enquiry {
    margin-left: 15px;
    margin-right: 15px;
	margin-bottom:15px;
}

#list-sort p{
padding-left:15px;
padding-right:15px;
}
#list h5 {
margin-left:15px;
margin-right:15px;
}
.list-map{
margin-top:20px;
}
.map_hide{
display:block;
}
.map_hide1{
display:none;
}
.list-cntt{
padding-left:15px;
}
.margin-p{
margin-left:15px;
margin-right:15px;
}
.form-group .left-6{
width:50%;
float: left;
}
.form-group .right-6{
width:50%;
float: left;
}
.form-group .left-9{
width:75%;
float: left;
}
.form-group .right-3{
width:25%;
float: left;
}
.pro-dis-mob{
display:block;
margin-bottom:20px;
margin-top:20px;
}
.pro-dis-start{
display:none;
}
#details-pro{
margin-top:20px;
}
#customer {
    margin-top: 0%;
}
}
@media (max-width:760px){
.news_pro_hd{
color: #009054;
padding-left:15px;
}
.news_pro{
padding-left:15px;
padding-right:15px;
}
#cc .col-sm-4{
padding-left:6px;
}
#cc .col-sm-8{
padding-left:0px;
}
#dis_div{
display:block;
}
#list-head h1 {
    float: none;
}
#list-search input {
    margin: 0;
    width:100%;
}
#list-search-de input {
    margin: 0;
    width: 76%;
}
#list-search button {
    margin: 0 0 0 4px;
}
#list-search-de button {
    margin: 0 0 0 4px;
}
#dis_div_hide{
display:none;
}
  .navbar-toggle{
  margin-top:17px;
  padding:0px;
  }
  #list .col-sm-4 {
    padding-left: 15px;
	padding-right:15px;
}
#list-inner .col-sm-12{
padding-left: 15px;
    padding-right: 15px;
}
#list-sort .col-sm-12 {
    padding-left: 15px;
}
#ser-place {
    margin-left: 15px;
    width: 96%;
}
#list-share {
margin-bottom:10px;
}
  }
  @media (max-width:685px){
  #list-search button {
  width:21%;
  }
  }
    @media (max-width:570px){
  #list-search button {
  width:18%;
  }
  }
   @media (max-width:540px){
  .btnn {
    margin-bottom: 61px;
}
.sec {
    float: left;
    margin-left: 10%;
    width: 80%;
}
.fir {
    float: left;
    width: 80%;
	font-weight:bold;
}
}
      @media (max-width:460px){
 #list-search input {
    width: 100%;
}
#list-search-de input {
    margin: 0;
    width: 73%;
}
  }
@media (max-width:450px){
.twitter-typeahead{
width: 87%;
}
#mob{
  display:block;
  }
  #des{
  display:none;
  }
  .navbar-toggle{
  margin-top:-32px;
  padding:0px;
  }
  #list .col-sm-4 {
    padding-left: 15px;
	padding-right:15px;
}
#list-inner .col-sm-12{
padding-left: 15px;
    padding-right: 15px;
}
#list-sort .col-sm-12 {
    padding-left: 15px;
}
#ser-place {
    margin-left: 15px;
    width: 92%;
}
  }
  @media (max-width:455px){
  .pull-rights-listing{
font-size: 27px;
margin-left: 80px;
margin-top:123px;
color: #019555;
}
.pull-rights-listings{
font-size: 27px;
margin-left: 38px;
margin-top: 142px;
position: absolute;
color: #019555;
}
}
@media (max-width:490px){
#footer #left {
    width: 100%;
}
#footer #middle {
    width: 100%;
}

 }
 @media (max-width:490px){
 .btnn {
    margin-bottom:272px;
    padding: 6px 10px;
}
.btnn1 {
    margin-bottom:76px;
    padding: 6px 10px;
}
.btn-tvll {
   margin-bottom:50px;
}
}

@media (max-width:380px){
.form_inner {
    width: 81%;
	margin-bottom:10px;
	margin-top:0px;
}
#submit-ser {
    margin-top: 0px;
    margin-left: -30px;
}
#list-head h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}
#list-search input {
    font-size: 11px;
    width:100%;
}

#list-search button {
    font-size: 11px;
    width: 20%;
}
.resultblock{
width:100%;
}

}
@media (max-width:350px){
#navigation {
    width:50%;
}
.form_inner {
    width: 77%;
}
}