/* Login CSS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* background: #9A616D; */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(../../../public/kp/img/back.jpg);
    background-size: cover;

}

ul {
    width: 70vmin;
    height: 70vmin;
    position: relative;
    list-style-type: none;
}

li {
    /*
        |a|d|a|
        -------  -           
        |/   \|  | 0.5h
        |\   /|  ^          
        ------- 
        |  w  |
      
        a = 0.5h/tan60 = 0.28867513459h
        d = 0.5h/sin60 = 0.57735026919h
        w = a + d + a  = 1.15470053838h
      
        [zoom out]
      
            |a|_d_|         _____    _
            /|     \       /     \   |
      ang=60_|      \__d__/       \  | h     
           \        /     \       /  |
            \_____|/|      \_____/  _|
                  a     
           |--------|
               w
      */
    --h: calc(100% / 3);
    /* --w: calc(1.15470053838 * var(--h)); */
    --a: calc(0.28867513459 * var(--h));
    --d: calc(0.57735026919 * var(--h));
    height: var(--h);
    width: var(--w);
    position: absolute;
}

img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
    /* 
      
       [clip-path coordinates]
      
        --A-F--
       B|/   \|E    coord.
        |\   /|       A(a/w, 0)
        --C-D--       B(0, 50%)
                      C(a/w, 100%)
                      D(100% - a/w, 100%)
                      E(100%, 50%)
                      F(100% - a/w, 0)
                    where a/w = 0.24999999999
      */
    --aw: 24.99999999999%;
    clip-path: circle(var(--aw) 0,
            0 50%,
            var(--aw) 100%,
            calc(100% - var(--aw)) 100%,
            100% 50%,
            calc(100% - var(--aw)) 0);
}

li:nth-of-type(1) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: 0;
}

li:nth-of-type(2) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 0.5);
}

li:nth-of-type(3) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 1.5);
}

li:nth-of-type(4) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: calc(var(--h) * 2);
}

li:nth-of-type(5) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 0.5);
}

li:nth-of-type(6) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 1.5);
}



/* 
    style 
    */

ul {
    filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.3));
}

li:hover {
    filter: drop-shadow(0 0 10px powderblue);
    z-index: 10;
}

/*
    anim
    */
@-webkit-keyframes bounce {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-5px)
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-5px)
    }
}

ul {
    animation: r 4s forwards;

}

@keyframes r {
    from {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(0)
    }
}

li {
    animation: ir 4s forwards;

}

.img1 {

    -webkit-animation: bounce 5s infinite ease-in-out;
    -o-animation: bounce 5s infinite ease-in-out;
    -ms-animation: bounce 5s infinite ease-in-out;
    -moz-animation: bounce 5s infinite ease-in-out;
    animation: bounce 5s infinite ease-in-out;
}

.img2 {
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}

.img3 {
    -webkit-animation: bounce 2s infinite ease-in-out;
    -o-animation: bounce 2s infinite ease-in-out;
    -ms-animation: bounce 2s infinite ease-in-out;
    -moz-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes ir {
    from {
        transform: rotate(-360deg)
    }

    to {
        transform: rotate(0)
    }
}

.background-radial-gradient {
    /* background: #9A616D; */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(../../../public/kp/img/back.jpg);
    background-size: cover;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
.login-btn :hover {
    background-color: #fd4c28;

}

.login-btn {
    padding: 13px 20px 12px;
    background-color: #fd4c28;
    border: #fd4c28;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}
@media (max-width: 992px) {
    .roller-img {
       display: none;
    }
}
.register :hover{
    color: #fd4c28;
}

footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
    background: #320808;
    color: #ADB3B9;
}
.footer-label {
    color: #fff;
    text-decoration: none;
}
.footer .footer-bottom a:hover{
    color: #fd4c28 !important;
}
a:hover {
    color: #fd4c28 !important;
  }
.loginlogo
{
z-index: 10 !important;
}
.imglogo
{
height: 40% !important;
width: 40% !important;
}
.lognbox
{
border-radius: 1rem;
}