/* font for login nominations */

 @font-face {
    font-family: 'Noto Sans Malayalam';
    src: url("../Noto_Sans_Malayalam/static/NotoSansMalayalam-Regular.ttf") format('truetype');

}
@font-face {
    font-family: 'Noto Sans MalayalamSemiBold';
    src: url("../Noto_Sans_Malayalam/static/NotoSansMalayalam-SemiBold.ttf") format('truetype');

}

body {
  
    color: var(--body);
    line-height: 1.7;
    font-family: 'Noto Sans Malayalam', sans-serif;
    font-size: 15px;

}
.h3_lbl
{
  color:#006600;
  margin:0px;
}
#customers {
/*font-family: Arial, Helvetica, sans-serif;
font-family: 'Noto Sans MalayalamSemiBold';
border-collapse: collapse;*/
width: 100%;
font-size:14px;
}

#customers td{
border: 1px solid #ddd;
padding: 12px 30px;
text-align: left;
} 
#customers th {
border: 1px solid #ddd;
padding: 8px;
text-align:center;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers td:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #04AA6D;
color: white;
font-size: 15px;
}

#customers_edit
{
width: 100% !important;
}
.frmlbl
{
	height:13%;
}
.li_lbl
{
	padding-left:0px !important;
}
.nomdiv
{
	padding:0px;
}
.frmcls
{
	max-width:100% !important;
}
.inputlbl
{
	float:left !important;
}
.file_lbl
{
      padding: 4px 26px; line-height: 2;
}
.nomination_plabel
{
   color:#CC3333; font-size:13px; margin-top:10px; 
}
.btn_nom
{
	float:right !important;
}
.bnm
{
 margin-top:12px !important;
}
.div_p
{
 padding:0px !important;
}
.err_text
{
 text-align:left !important;
}

/*my account page styles*/
#nav {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
#nav a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	
}
#nav a:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#nav a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#nav .active{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.norecord{
font-size:14px;
color:#006600;
font-weight:bold;
}
.clsnom{
margin-left: 10px;
color: #FFFFFF;
text-decoration: none;
background-color: #339933;
margin-left:10px;
padding: 5px 20px;
float: right;
}
.clsnom:hover {
  color: #fff;
  background-color: #339933;
  border-color: #b02a37;
}
.pull-right
{
float: right;
}
.wrngmsg
{
float:left;
text-align:left !important; 
font-size:14px;
padding:12px;
color:red;
}
.decl_msg
{
float:left;
text-align:left !important; 
font-size:14px;
}
.ag
{
margin-right:10px;
}
.editnom
{
float:right; margin-right:20px;
}

.loglbl
{
margin-left:10px;
}




