/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap'); */


@font-face {
    font-family: 'Noto Sans Malayalam';
    src: url("../Noto_Sans_Malayalam/static/NotoSansMalayalam-Regular.ttf") format('truetype');

}

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0, 0, 0, 0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

}

body {
    /* font-family: "Barlow", sans-serif; */
    color: var(--body);
    line-height: 1.7;
    font-family: 'Noto Sans Malayalam', sans-serif;
    font-size: 0.9rem;

    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-brand {
    color: var(--brand) !important;
}


.hero-slider .owl-prev,
.hero-slider .owl-next {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important;
}

.owl-dot.active span {
    background-color: var(--brand) !important;
}


/* slide */
.slide {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(../../../public/kp/img/back.jpg);
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(../../../public/kp/img/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(../../../public/kp/img/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}
.banner-name{
    font-size: 2rem;
}
/* navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}

.conditions-section {
    margin: 20px 0;
}

.conditions-section a {
    color: #fff;
    margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand) !important;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand .dot {
    color: var(--brand);
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.intro {
    margin-bottom: 36px;
    text-align: center;
}

.intro p {
    max-width: 500px;
}

.intro h6 {
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}


#milestone {
    /* background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)), url(../../../public/kp/img/backg.jpg); */
    background: linear-gradient(rgba(159, 52, 28, 0.85), rgba(255, 77, 41, 0.85)), url(../../../public/kp/img/backg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}


.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}


.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%
}

.project h2,
.project h6 {
    color: #fff;
}

.team-member {
    text-align: center;
}

.team-member .image {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../../../public/kp/img/backimg.jpeg), #082032;
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    left: 0;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.footer-label {
    color: #fff;
    text-decoration: none;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);
    ;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}

.logo-img {
    width: 80px;
}

.star-img {
    height: 40rem;
    width: 30rem;
}

.active {
    color: #fd4c28 !important;
}

@media (max-width: 995px) {
    .star-space {
        background-image: url("../../../public/kp/img/awd4.png");
        justify-content: center;
        text-align: center;
        height: 30rem;
        width: 33rem;
    }

    .star-img {
        display: none;
    }

}

.banner-img {
    height: 18rem;
    width: 7rem;
}

.awards {
    height: 140px;
    width: 150px;
    padding: 10px;
}

.awards1 {
    height: 140px;
    width: 150px;
    padding: 10px;
}

.awd-img {
    border-radius: 80px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 576px) {
    .awards {
        height: 90px !important;
        width: 90px !important;
        /* padding: 0% !important; */
    }

    .awd-img {
        border-radius: 80px;
    }

    .awards1 {
        height: 90px !important;
        width: 90px !important;
    }
}

@media (max-width: 576px) {
    .awards {
        height: 80px !important;
        width: 80px !important;
        /* padding: 0% !important; */
    }

    .awd-img {
        border-radius: 80px;
    }

    .awards1 {
        height: 90px !important;
        width: 90px !important;
    }
}

.about-label {
    color: #ff4d29;
}

.award-para {
    color: var(--body) !important;
}

.who-nominates {
    background: linear-gradient(0deg, rgba(185, 87, 63, 0.73), rgba(217, 96, 60, 0.73)), url(../../../public/kp/img/background.jpg), #d64022;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.whonominates {
    font-size: 1.5rem;
}

.nominate-label {
    font-weight: 700;
}

.consider-label {
    color: #ff4d29;
    font-weight: 700;
}

.considers {
    font-size: 1.5rem;
}
.news_marquee{
    font-weight: 700;
    color: red;
    font-size: 1.2rem;
}
/* Award Image CSS */
.pa-awards {
    height: 100%;
    width: 100%;
    text-align: center;
}

.award-img {
    padding-top: 4px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    /* border: solid 5px #fe4c28; */
    text-align: center;
    line-height: 91px;
    /* background: #f94b28; */
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
}

@media (max-width: 576px) {
    .award-img {
        width: 100px;
        margin-left: 20px;
    }
}

.pa-any__query {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-us {
    background: #f0f0f08c;
}

/* .awardimg:hover{
    opacity: 1;
    background: rgba(255, 77, 41, 0.7);
    border-radius: 50%;
    transition: all 0.4s ease;
    z-index: 1;
    overflow: hidden;
    position: relative;
} */
.image-container {
    position: relative;
    padding-top: 4px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    /* border: solid 5px #fe4c28; */
    text-align: center;
    line-height: 36px;
    /* background: #f94b28; */
    margin: auto;
    font-family: sans-serif;
    font-size: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.overlay {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85));
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* Text color for the overlay */
}

.image-container:hover .overlay {
    opacity: 1;
}


/* Award Image CSS */
/* Notification CSS */
.dashNotification {
    background: #fd4c28;
    padding: 12px 5px;
    color: #fff;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.notificationLink {
    color: #fff;
    text-decoration: none;
}

.notificationLink:hover {
    color: #000;
    text-decoration: none;
}

.pdfbox {
    width: 100%;
    height: 600px;
    border: solid 5px #fd4c28;
}

/* /Notification CSS */

/* Winners CSS */
.clickable-element {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-bottom: 5px solid;
    padding: 4px 2px;
    color: #fff;
}

.winnerimg {
    height: 135px;
    width: 135px;
    padding: 10px;
}

@media (max-width: 768px) and (min-width: 576px) {
    .winnerimg {
        height: 100px !important;
        width: 100px !important;
    }

}

@media (max-width: 576px) {
    .winnerimg {
        height: 100px !important;
        width: 100px !important;
    }

}

.kj {
    border-radius: 0;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

.kj:hover {
    border-radius: 0;
    background-color: rgb(57, 28, 87);
    border-color: rgb(57, 28, 87);
}

.kj:focus {
    outline: none !important;
    box-shadow: none !important;
}

.kp {
    border-radius: 0;
    background-color: rgb(51, 153, 91);
    border-color: rgb(51, 153, 91);
}

.kp:hover {
    border-radius: 0;
    background-color: rgb(27, 82, 49);
    border-color: rgb(27, 82, 49);
}

.kp:focus {
    outline: none !important;
    box-shadow: none !important;
}

.ks {
    border-radius: 0;
    background-color: rgb(153, 51, 107);
    border-color: rgb(153, 51, 107);
}

.ks:hover {
    border-radius: 0;
    background-color: rgb(75, 25, 52);
    border: rgb(75, 25, 52);
}

.ks:focus {
    outline: none !important;
    box-shadow: none !important;
}

.winner-dropdown {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.winnername {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.2em;
}

.errormsg {
    font-size: 1.5rem;
    text-align: center;

}

.award-count {
    font-size: 1.5rem;
}

.winner-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Winners CSS */

/* home CSS */
.who_label {
    font-size: 16px;
    margin-bottom: 25px;
}

.who_decides_label {
    font-family: Verdana, Geneva, sans-serif;
}

.wh_label {
    margin: 15px 0px;
}

/* home CSS */
/* menu CSS */

.home_cls {
    font-size: 23px;
}

/* notification CSS */

.ntn_cls {
    text-align: center;
    margin-top: 10px;
    color: red
}

.img_cls {
    width: 100%;
    height: 250px;
}

.cls_p1 {
    color: Black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.cls_p2 {
    color: Black;
    text-align: center;
    font-size: 14px;
}

.prev_pdf_box {
    width: 100%;
    height: auto;
    border: solid 2px #fd4c28;

}

.notif-dropdown {
    background-color: #fff;
    border: 1px solid #adadad;
}

.prev_lbl {
    margin-top: 30px !important;

}

/* Gallery css */
.thumb-nail {
    border: 1px solid #ddd;
    padding: 4px;
}

/* /Gallery css */